[2016-04-19 22:35] pavanramkumar opened #1 "Improvements to tutorial"
Not sure how to make algorithm table in jupyter markdown cell. Seems that support is lacking

[2016-04-27 23:57] daniel-acuna opened #4 "Remove scikit learn dependency required for multinomial regression"

[2016-04-28 17:23] pavanramkumar opened #5 "Implemented SGD variant for streaming data"

[2016-04-28 17:29] pavanramkumar opened #6 "Investigate instructions in the shablona project to produce PyPI package"
Shablona:
https://github.com/uwescience/shablona

More here:
http://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/

[2016-04-29 16:30] pavanramkumar opened #7 "z-score issue"
In the demo and example, z-score the training set and then use the mean and std of training set to z-score test set. This is best practice for streaming test set data

[2016-04-29 16:39] hugoguh opened #8 "add comparison to R package and scikit-learn"
make separate notebook to demonstrate comparison with R results
call R from python using os.system(‘Rscript .....

[2016-04-29 18:28] pavanramkumar commented on #4
solved by eb80fc5c1f405058501b168f2cbc4d8d353c1e2f

[2016-04-29 18:28] #4 closed

[2016-04-30 02:26] jasmainak commented on #6
I think the most important thing is the tests. You can check out pytest or nosetests for that. It's to ensure that a new pull request doesn't break the code. Then you can add continuous integration of your tests with Travis, but that's not super-critical as you can run it locally as well.

[2016-04-30 04:18] pavanramkumar opened #11 "add seed for all np.random calls"

[2016-04-30 08:09] titipata commented on #11
I think you can simply add `np.random.seed(0)` into `pyglmnet.py`.

[2016-04-30 12:38] jasmainak commented on #7
I think you can use `StandardScaler` in a scikit-learn `Pipeline` object. Something like:

[code]
for this `GLM` should inherit from `BaseEstimator` in scikit-learn (and hopefully it will work -- fingers crossed). The advantage of this approach is that you don't reinvent the wheel with respect to cross validation, grid search and preprocessing -- goodies that scikit-learn already has.

[2016-04-30 13:41] hugoguh commented on #7
I replaced `zscore` with `StandardScaler`.
I think maybe `Pipeline` might be too much for the `example notebook`?

[2016-04-30 14:23] jasmainak commented on #7
yeah maybe. I vote for simplicity :)

[2016-04-30 17:26] titipata opened #17 "verbose true does not print output"
When I set `verbose=True` when I created GLM model and train. It does not print out the output.

[2016-04-30 17:35] jasmainak commented on #17
I noticed that a bunch of print statements were being used for verbosity. There happens to be a package to take care of the verbosity levels: https://docs.python.org/2/library/logging.html.

[2016-04-30 17:53] titipata commented on #17
@jasmainak, Ah, I see! I'm not quite pro in doing logging output. Do you want to implement these output/logging?

[2016-04-30 17:59] jasmainak commented on #17
okay, I'll take care of it :)

[2016-04-30 18:01] titipata commented on #17
@jasmainak, note that I have one bug in my recent pull-request (in `penalty` function). Maybe you would like to fix that fist before setup.

[2016-04-30 18:31] jasmainak commented on #17
your bug should be fixed here: https://github.com/pavanramkumar/pyglmnet/pull/19

[2016-05-01 01:46] pavanramkumar commented on #17
looks like this is done now! shall i close the issue?

[2016-05-01 01:48] titipata commented on #17
yes, you can close this issue!

[2016-05-01 13:03] #17 closed

[2016-05-01 14:23] hugoguh opened #21 "Canonical link for poisson and warning"
The default for poisson should be the canonical. While it is using a non-canonical as default it should give a warning. since it is so easy to use it is also easy to go unnoticed.

[2016-05-01 14:52] hugoguh commented on #21
Should also be mentioned in `README.md`

[2016-05-01 17:08] hugoguh opened #22 "model_mn instead of model in multinomial example"
`y_pred = model.predict(X, model_mn.fit_params[-1]).argmax(1)`
should be `y_pred = model_mn.predict(X, model_mn.fit_params[-1]).argmax(1)`

[2016-05-01 17:23] hugoguh opened #23 "create model.predict_proba"
multinomial and binomial should output probabilities for each class. not just predicted class

[2016-05-01 17:47] hugoguh opened #24 "more flexible with y input format"
for poisson and binomial and normal  i get an error if y isn't a 2d n-by-1 array. should allow a one dimensional array.
e.g.:
`X, y = make_classification(n_samples=10000, n_classes=2,
                           n_informative=100, n_features=100, n_redundant=0)`
`model = GLM(distr='binomial', verbose=False, alpha=0.05,
            max_iter=1000, learning_rate=1e-4,
            reg_lambda=[0])`
`mod

[2016-05-01 18:22] titipata commented on #24
Got it, I will solve this issue.

[2016-05-01 22:43] titipata commented on #24
This should partially solve by https://github.com/pavanramkumar/pyglmnet/pull/27.

[2016-05-02 15:50] hugoguh commented on #23
it is actually always outputting probabilities
typically in sklearn `.predict` gives a class prediction and `.predict_proba` give probabilities. right now, .predict is always outputting probabilities which is fine. but just in case we want to make it similar to sklearn

[2016-05-02 16:56] hugoguh commented on #7
working on this. also removing standardization from inside the function. it’s doing zscoring in predict and not in fit. shouldn’t do it in either

[2016-05-02 17:04] pavanramkumar commented on #11
done

[2016-05-02 17:04] #11 closed

[2016-05-02 17:50] #22 closed

[2016-05-02 18:01] tcyb opened #30 ""The version specified ('unstable' ) is an invalid version...""
Just a heads up, setuptools complained when I tried to execute setup.py:

Setup still seems to have gone fine (still running basic tests), but figured I'd give you a heads up anyway. [PEP 440](https://www.python.org/dev/peps/pep-0440/) says that it supports dev branch and pre-release versioning, so maybe that might be suitable for this stage of the code?

[2016-05-02 18:10] titipata commented on #30
@tcyb, if you change `VERSION = 'unstable'` to says `0.1` and use `setup.py` to install. Will it still report this error?

@jasmainak, any suggestion on this?

[2016-05-02 18:32] daniel-acuna opened #31 "Check convergence criteria for multinomial regression"
Code below compares scikit learn performance vs pyglmnet for multinomial:

[code]

This is the output I am getting right now:

[code]

[2016-05-02 18:39] hugoguh commented on #31
I tried to run it several times, once it gave exactly the same `0.806` but sometimes it goes under `0.6` even. Probably convergente issues?

[2016-05-02 18:47] hugoguh commented on #31
![screen shot 2016-05-02 at 1 46 49 pm](https://cloud.githubusercontent.com/assets/3664942/14964083/5ceb243e-106c-11e6-8813-7b5475e4121b.png)

[2016-05-02 18:49] daniel-acuna commented on #31
`pyglmnet` GLM has random start inside that why the numbers are different I think. This issue is more of a mental note to myself because I will fix it later :)

[2016-05-02 18:51] jasmainak commented on #30
maybe we can replace it with `'0.1.dev0'`. That might be more appropriate I think.

[2016-05-02 18:52] hugoguh commented on #31
cool :),
but still the performance shouldn’t vary so much with the start (from 0.4 to 0.8 accuracy!), convergence needs to be improved (not only for multinomial). Maybe start a new issue for that?

[2016-05-02 18:52] daniel-acuna commented on #31
is this happening with other models?

[2016-05-02 18:53] hugoguh commented on #31
haven’t checked but if it is a problem with convergence algorithm it might....

[2016-05-02 18:54] hugoguh commented on #31
I’ll check for the others

[2016-05-02 18:56] pavanramkumar commented on #21
added a warning

[2016-05-02 18:56] #21 closed

[2016-05-02 18:57] pavanramkumar commented on #30
done!

[2016-05-02 18:57] #30 closed

[2016-05-02 19:00] pavanramkumar commented on #7
zscore is now gone from pyglmnet. we can replace zscore with StandardScaler in the demo if needed.

[2016-05-02 19:03] hugoguh commented on #7
I’ll do it now

[2016-05-02 19:03] pavanramkumar commented on #24
#27 is acceptable fix

[2016-05-02 19:03] #24 closed

[2016-05-02 19:34] pavanramkumar commented on #7
this is solved by #32

[2016-05-02 19:34] #7 closed

[2016-05-02 20:07] pavanramkumar opened #33 "Move away from ipynb demos to sphinx gallery for tutorials"
http://sphinx-gallery.readthedocs.io/en/latest/tutorials/plot_notebook.html#sphx-glr-tutorials-plot-notebook-py

[2016-05-02 20:07] pavanramkumar commented on #33
I would vote to do this a little later, since we're still developing and testing stuff on the notebooks.

[2016-05-02 20:24] jasmainak commented on #33
is it possible to do the testing on the notebooks separately? Basically you can host it as another repo (`pyglmnet-notebooks`?) The immediate concern I have is that the history once it gets cluttered cannot be fixed ... at least not after the first release

[2016-05-03 03:08] titipata commented on #8
There is a library [`rpy2`](http://rpy2.bitbucket.org/) that we can use in notebook. We can install using `pip install rpy2`. However, I have issue with IPython kernel dying when I load it to the notebook `%load_ext rpy2.ipython`. I install python using Anaconda with Mac OSX.

- `$ conda --version` > `conda 3.14.1`
- `$ which python` > `~/anaconda/bin/python`
- `$ which ipython` > `~/anaconda/bin/

[2016-05-03 12:35] jasmainak opened #35 "stylistic changes"
some simple stylistic suggestions:

* For estimated parameters, follow the variable name with underscore. E.g., `model.beta_`. This is the convention in scikit-learn.
* For shape of matrices, prefix it with `n_`. E.g., `n_features` or `n_samples` etc.
* For looping, you could use `idx` and then use a prefix to indicate what you're looping over. E.g., `l_idx`. It immediately tells you that it's the

[2016-05-03 12:46] jasmainak opened #36 "increase test coverage"
if you do `$ nosetests tests/test_pyglmnet.py --with-coverage`

you see this:

[code]

we should aim to increase this to above 80% which is what most good libraries have.

[2016-05-03 12:55] jasmainak opened #37 "fit_predict"
easy fix: if you remove `fit_param` from here: https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L294 (you can already use `self.fit_param`), then you can have a `fit_predict` convenience method which just returns `self.fit(X, y).predict(X)`

[2016-05-03 13:01] jasmainak commented on #31
If you set the `max_iter` to a low number and set the same number in `pyglmnet`, do you get the same result? That way, you are sure it's a convergence issue or not.

[2016-05-03 14:41] titipata commented on #37
The thing is @pavanramkumar put list of regularized regression parameters in `reg_lambda` so that turns out to give list of fitted parameters back i.e. `{['beta0': ..., 'beta': ...], [...], [...]}`. Should we only receive one parameter at a time (`self.reg_lambda`) and save output to `self.beta_`?

[2016-05-03 15:42] jasmainak commented on #37
Ah, is this due to the warm start to have faster computation? Since it's the outermost loop, you can abstract it away from the `fit` method. I think the way `scikit-learn` does it -- it uses the `self.beta_` from the last call to the method for the warm start. So, I would suggest something like:
[code]
and then continue as usual without the loop.

[2016-05-03 16:53] pavanramkumar commented on #36
@jasmainak I increased the tolerance for density in the test to 0.05 and fixed the ```dict()``` issue. Now with:

[code]

I get:

[code]

[2016-05-03 17:04] pavanramkumar commented on #37
@jasmainak yes, it's for warm restarts! I like the suggestion of abstracting away the fitting algorithm from looping through the regularization path.

But I would like it to mimic the functionality of the R package which returns a list of fits for the specified regularization params in `reg_lambda`.

I would also like to adopt a practice which easily allows future modification to automatically fit

[2016-05-03 19:06] pavanramkumar commented on #35
@jasmainak super useful! have reflected many of these changes now. close issue?

[2016-05-03 21:35] jasmainak commented on #37
API design is hard :) The best way to write good API is to write down an example how you will use it. If you can share 5 lines of boiler-plate code to demonstrate how you plan to use it, that would be really cool. Do you want to be able to fit on multiple lambdas and predict on one (for efficient grid search?) Or fit on multiple and predict on a subset (YAGNI?). Or fit on one lambda and predict on

[2016-05-03 23:09] jasmainak commented on #36
okay cool. I made a PR for continuous integration so that we can keep monitoring the coverage on every PR

[2016-05-03 23:12] jasmainak commented on #35
excellent! It's more of a checklist for the future :) feel free to close it

[2016-05-03 23:12] #35 closed

[2016-05-04 12:15] jasmainak commented on #7
you can put the magic word "closes #7" in the PR description so that the issue automatically closes when the PR is merged :)

[2016-05-04 15:25] titipata commented on #7
Only @pavanramkumar can do it.

[2016-05-04 15:29] titipata commented on #37
I vote for predict multiple lambdas and predict/store one best parameters in `self.beta_` and `fit_predict` will use `self.beta` to predict. Rather that that, we stores all parameters in `self.fit_params` i.e. `fit_params = [{'beta': ..., 'reg_lambda': ...}, ...]`.

[2016-05-04 15:43] hugoguh opened #39 "use scipy.optimize.minimize"
with ‘Newton-CG’
feed the gradient and hessian

[2016-05-04 16:44] jasmainak commented on #37
ok, I did some thinking. We could hack the magic method `__getitems__` of the object. So, you have `self.betas_` as you have now which is a list / dict for different lambdas. But when the user tries to slice it, you get an object which has only the subset of betas that the user asked for. E.g.,

[code]

[2016-05-04 22:41] hugoguh commented on #8
it involves saving and loading files but can easily be done with something like this:
[code]

It works, but it would be better to do it with `rpy2` like @titipata suggests

[2016-05-04 22:46] hugoguh commented on #37
@titipata with your suggestion I’m a bit concerned about overfitting. The chosen lambda should have best performance on test set. So the best at doing `self.fit(Xr, y).predict(Xt)`

[2016-05-05 04:18] #31 closed

[2016-05-05 05:20] pavanramkumar commented on #37
@jasmainak great advice!

Just looked up the `__getitem__` option. Sounds really clever but I'm not completely clear on whether the slicing is compatible with warm restarts.

Would `GLMPath()` create a list of `GLM()` instances? If so, once `glms[0]` is fit, is it easy to initialize `glms[1]`?

Alternatively, I'd like to keep the flavor as close to the R package as possible. Here's a suggestion wi

[2016-05-05 10:28] jasmainak commented on #37
@pavanramkumar:

On Thursday, 5 May 2016, pavanramkumar <notifications@github.com> wrote:

Of course it would :) The fit method will do warm restarts if reg_lambda is
a list

I just called it differently since it was working differently. So, no it
won't create a list of GLM() instances

The current class we have will have an extra __getitem__ method that's it
:)

Is this something that the user ha

[2016-05-05 15:24] hugoguh commented on #37
@pavanramkumar I wasn’t saying the user should give the validation test, just pointing out the dangers of overfitting if fit method returns only the best fit on training set.
Won’t it be easier/natural to code the `cv.pyglmnet` it the `fit_predict` outputs the whole array

@jasmainak I agree with keeping the options flexible.
I like how R returns all the cv values for the whole set/path of lambdas

[2016-05-05 15:44] hugoguh opened #41 "code sparse version in the future"
blows up my memory, and sklearn doesn’t on the same dataset.
Useful for problems with categorical features, number of features increases a lot with onehotencoder, but X will be sparse.

[2016-05-05 15:46] hugoguh opened #42 "code canonical link function for poisson"
because it's the canonical, and for comparison with the non-canonical and for comparison with R

[2016-05-05 16:03] pavanramkumar commented on #37
ok so let's keep it simple:

- with `__getitem__()` we can have the flexibility to fit and predict for any reg_lambda
- `fit()` will update `self.fit_` as it currently does and store a list of dicts
- `predict()` and `fit_predict()` will call predict on each lambda by default, or a subset of lambda's as sliced by the user.
- @jasmainak do you want to code this?

For cross-validation:
- A new class

[2016-05-05 16:04] pavanramkumar commented on #39
i will take up this after issue #37 is closed

[2016-05-05 16:06] pavanramkumar commented on #42
I will modify the class to include an additional parameter called `link` which can be either `softplus` (the current one) or `exp` (canonical). I will take this up after issue #37 is closed.

[2016-05-05 16:08] pavanramkumar commented on #36
Latest run of `nosetests`:

[code]

[2016-05-05 16:08] pavanramkumar commented on #36
Testing is good for now. Let me close this

[2016-05-05 16:08] #36 closed

[2016-05-05 16:11] jasmainak commented on #36
Sounds good

On Thursday, 5 May 2016, pavanramkumar <notifications@github.com> wrote:

[2016-05-05 16:13] pavanramkumar commented on #6
This is done. I'll create a separate issue for creating a PyPI package that's downloadable with pip

[2016-05-05 16:13] #6 closed

[2016-05-05 16:14] pavanramkumar opened #43 "PyPI packaging"
http://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/

[2016-05-05 16:15] jasmainak commented on #37
Yes, I can make a PR soon enough :)

About cross validation, have you thought about using sklearn cross
validation objects? Basically, the only thing you need to recode is how to
parallelize it using joblibs. Instead of parallelizing over lambdas you
will do it across folds

On Thursday, 5 May 2016, pavanramkumar <notifications@github.com> wrote:

[2016-05-05 16:17] jasmainak commented on #6
We could make a milestone on github for the first release and mark issues
using the milestone :)

Note that changing the API after you release would require a deprecation
cycle

On Thursday, 5 May 2016, pavanramkumar <notifications@github.com> wrote:

[2016-05-05 16:27] pavanramkumar commented on #6
Just made a milestone :)

Ok, noted.

- Ideally, the APIs should not change after the first stable release. For instance, a new method can be introduced for the SGD variant: `fit_sgd()`
- Internal algorithmic changes shouldn't change the API:

[2016-05-05 17:39] hugoguh opened #44 "allow reg_lambda = number"
right now it requires `reg_lambda = [number]`

[2016-05-05 17:40] titipata commented on #44
Assign me. I can solve this issue.

[2016-05-05 17:44] hugoguh opened #45 "fit_ instead of fit_params in README"
notebook also has the same bug

[2016-05-05 18:16] hugoguh commented on #45
I guess this means add readme code and notebook code to tests?

[2016-05-05 18:33] pavanramkumar commented on #44
it's yours! @titpata

[2016-05-05 18:49] hugoguh commented on #37
@pavanramkumar yes please!
we should at some point discuss if there is a plan for having optimization for alpha also.

side issue, regarding the warm starts, should check if the only thing that changes with warm starts is the execution time.

[2016-05-05 19:30] pavanramkumar commented on #44
thanks!

[2016-05-05 19:30] #44 closed

[2016-05-05 19:32] pavanramkumar commented on #45
good idea to automate tests for notebooks. i guess this will be a lot easier when we move the tutorials to sphinx gallery using `.py` files instead of `.iypnb`. we can simply include a copy of these tutorial files inside `tests/`

[2016-05-05 19:39] pavanramkumar opened #47 "cvpyglmnet"
For cross-validation:
- A new class `cvpyglmnet` will inherit some methods from `pyglmnet` and provide methods for cross-validation, visualization of regularization path, etc.
- This will preserve the R package flavor as much as possible.
-  Ideally this class just lives in a new script cvpyglmnet.py

[2016-05-05 20:58] jasmainak commented on #45
note one thing about tests. They should ideally be really quick so that Travis CI doesn't take forever to become green. Ideally, we should never go above a couple of minutes (but that's being optimistic :)

[2016-05-05 23:26] hugoguh commented on #45
how about having more than one version of tests then. we could have one that does more extensive test though takes longer

[2016-05-05 23:50] jasmainak opened #50 "make methods / functions private"
Any method / function which should not be user accessible should be made private. Private functions can be removed / restructured without needing a deprecation cycle.

[2016-05-06 00:27] jasmainak commented on #41
Memory profiling might be a good idea to see what's the culprit: http://fa.bianp.net/blog/2012/line-by-line-report-of-memory-usage/

[2016-05-06 00:35] jasmainak commented on #45
this is indeed what is usually done in many python packages :) `nose` also allows you to do doctests. I think that might address your issue.

[2016-05-06 00:41] jasmainak commented on #8
@hugoguh @pavanramkumar maybe it may also be nice to add comparison to `scikit-learn` in terms of features offered / benchmarks for timing / accuracy. It's not super clear to me yet what the differences / enhancements are (or can be).

[2016-05-06 15:50] pavanramkumar opened #51 "enable warm restarts for partial models"
potentially create a separate function called `init_params()` which can initialize the model betas while creating the new object. suggested by @pnlawlor

[2016-05-06 18:16] #37 closed

[2016-05-08 17:21] #45 closed

[2016-05-08 17:27] hugoguh opened #52 "error in Notes inside pyglmnet.py"
in pyglmnet.py `glm[2].predict(X_test)` instead of `glm[2].predict(X_test, y_test)`
[code]

[2016-05-08 17:32] hugoguh opened #53 "still bug in README"
`yhat = model.predict(scaler.transform(Xt), fit_param)`

gives an error. should be:
`yhat = model.predict(scaler.transform(Xt))`

also why does it print the same thing several times when you run `mode.fit`?

[2016-05-08 17:37] hugoguh opened #54 "fix """Description of the object.""""
In notebook it prints one letter per line, so we get a huge vertical output. Also some spacing between different fields needs to be added.

[2016-05-08 17:39] hugoguh commented on #53
there really should be a way of testing the readme code (and the example notebook) every time there is a change that might affect it

[2016-05-08 18:00] jasmainak commented on #54
Fixed by https://github.com/pavanramkumar/pyglmnet/commit/8242a36c3ee9434cfe73d731cd267e40e44c3975

[2016-05-08 18:00] #54 closed

[2016-05-08 18:03] jasmainak commented on #52
Fixed by https://github.com/pavanramkumar/pyglmnet/commit/21baa562ff81a19d8bb7f7928b5b6f50fac3b511

[2016-05-08 18:03] #52 closed

[2016-05-08 18:14] jasmainak commented on #53
unfortunately there really isn't a way to test it if you put examples in README.md :\ I can switch to sphinx if you want. That's what all serious python projects use for their documentation.

That way, you can run the examples in continuous integration but I would need help in transforming the examples to sphinx. It's a lot of copy-pasting ...

[2016-05-08 18:30] hugoguh opened #55 "verbose"
shouldn’t verbose be allowed to be set to `False` or `True` after the model has been instantiated?
shouldn’t it be a option of the `.fit` method?

[2016-05-08 18:43] hugoguh opened #56 "weird effect in verbose"
if I instantiate the same model again, the verbose adds one repetition:
![screen shot 2016-05-08 at 1 39 53 pm](https://cloud.githubusercontent.com/assets/3664942/15099717/8c613248-1522-11e6-907a-5e454716bc90.png)

it adds one more every time I instantiate a model. Doesn’t even have to be the same model again.

[2016-05-08 19:13] hugoguh opened #57 "I get different fits every time I run model.fit"
for the same model and simulation parameters in README
(well with `reg_lambda=1`, and I set a seed for replication)
[code]

Here’s with 100 fits (`n_runs`)
[code]

plots:
[code]
![screen shot 2016-05-08 at 2 06 58 pm](https://cloud.githubusercontent.com/assets/3664942/15099823/3743da6e-1526-11e6-8753-37c55e6c9381.png)
![screen shot 2016-05-08 at 2 07 18 pm](https://cloud.githubusercontent.com/asse

[2016-05-08 19:25] hugoguh commented on #57
i guess for the same reason I get different results when I run `model.predict` after `model.fit` vs running `mode.fit_predict`

[code]
![screen shot 2016-05-08 at 2 23 13 pm](https://cloud.githubusercontent.com/assets/3664942/15099892/a70a31a2-1528-11e6-92cf-c6993f5392f9.png)

[2016-05-09 01:49] titipata commented on #55
I think this should stated when you create class as we have right now.

[2016-05-09 02:08] hugoguh commented on #55
I agree but maybe the user should be allowed to change it:
`model.verbose = False`

like we can do `alpha` for instance:
`model.alpha = 0.9`

btw also should allow
`model.reg_lambda = 0.1`. It gives an error unless we do `model.reg_lambda=[0.1]`

[2016-05-09 02:10] titipata commented on #53
@jasmainak It would be great if you start sphinx document folder. I can handle it afterward. I don't know how to custom [sphinx style](http://sphinx-gallery.readthedocs.io/en/latest/tutorials/plot_notebook.html#sphx-glr-tutorials-plot-notebook-py).

[2016-05-09 02:14] titipata commented on #55
I guess, they can do it already right?

[2016-05-09 02:18] hugoguh opened #58 "score for all the reg_lambdas?"
wouldn’t it be nice if `model.deviance(yt,model.fit(Xr, yr).predict(Xt))` worked for more than one `reg_lambda`?
i.e computed the deviance for each the `yt_hat` in the output of `model.fit(Xr, yr).predict(Xt)` (one for each reg_lambdas)

[2016-05-09 02:33] hugoguh opened #59 "copy a model"
why does it only let me do this:
`model_another = model[:]` after i run `model.fit` once?

If there another way of instantiating a new model from an existing one?

[2016-05-09 02:40] hugoguh commented on #59
related issue: it should delete the `.fit_` if the user changes `.alpha`,  `.reg_lambda` or `distribution` of a model

[2016-05-09 04:26] hugoguh commented on #55
they can do `model.verbose = False` but it doesn’t do anything, it doesn’t stop verbose next time you run `.fit`

[2016-05-09 09:33] jasmainak commented on #59
I didn't want to allow slicing the `beta` unless you have run `fit` because `beta` does not exist yet. We could add a `copy` method which calls `deepcopy.copy` and returns a copy of your model. I can do it after work today. It's pretty easy

[2016-05-09 09:35] jasmainak commented on #59
Regarding your second comment, I think we shouldn't allow the user to change `.alpha` etc. One way to enforce that is to have these parameters as private variables and then return `.alpha` using the `@property` decorator. I can take care of this one too

[2016-05-09 09:51] jasmainak commented on #55
you need to use a decorator and a verbose argument to the functions. Probably not worth the extra lines of code? for now, you can simply use `set_log_level` directly?

[2016-05-09 09:51] jasmainak commented on #58
I agree this would be nice to have :)

[2016-05-09 09:52] jasmainak commented on #56
hmm ... can you share a few lines of code to reproduce the problem?

[2016-05-09 13:33] pavanramkumar commented on #55
@hugoguh would recommend that this is not needed. it's an extremely rare use case that models fit using the same object with `verbose=True` would need to be fit again with `verbose=False`. We need to design for 90% of the most common use cases.

closing this issue to keep things manageable.

[2016-05-09 13:33] #55 closed

[2016-05-09 13:37] pavanramkumar commented on #53
this bug is fixed by commit 9c53b9c56c477d70df81a2f82d70e5268e127c98

[2016-05-09 13:39] pavanramkumar commented on #53
let's move sphinx discussion to the sphinx issue #33

[2016-05-09 13:39] #53 closed

[2016-05-09 14:02] pavanramkumar commented on #57
@hugoguh neat documentation of bug! i re-ran this by setting the random seed inside the `fit` method. just added a single line `np.random.seed(0)` and now i get the same answer each time

[code]

[2016-05-09 14:03] pavanramkumar commented on #57
this is not yet optimal, we should be able to set the seed in one place globally instead of within each function that calls `np.random` methods

[2016-05-09 14:19] pavanramkumar commented on #57
@hugoguh i made the commit, can you try again? if results are exactly replicable on repeated calls of `fit()` you can close this issue

[2016-05-09 14:26] pavanramkumar commented on #57
commit 217519886fc89f0cffede2d005c135aa5c8cf67e

[2016-05-09 14:48] pavanramkumar commented on #59
in the interest of simplicity i would recommend not having the ability to access `alpha` or `lambda`. reason: very rare use case that user both sets the `alpha` and `lambda` while instantiating the model and also wants to read it back from the model

[2016-05-09 14:48] pavanramkumar commented on #59
i'll close this issue

[2016-05-09 14:48] #59 closed

[2016-05-09 15:02] pavanramkumar commented on #58
@hugoguh want to implement this by following same approach as @jasmainak used in the `predict()` method:

[code]

[2016-05-09 15:03] pavanramkumar commented on #33
@jasmainak @titipata you can continue sphinx conversation here

[2016-05-09 15:09] pavanramkumar commented on #58
@hugoguh instead of `self.fit_` you would check if `yhat` is a list

[2016-05-09 15:47] hugoguh commented on #58
ok, will do the same for pseudoR2 right?

[2016-05-09 15:54] hugoguh commented on #57
@pavanramkumar I confirm that it is only giving one solution now.
Since the solution is "not yet optimal" shouldn’t we leave this open? until we find the exact source of variability and fix it the right way? Or open another issue for that.

[2016-05-09 15:55] pavanramkumar commented on #58
sure, already assigned :)

would be the same implementation for both `deviance()` and `pseudo_R2()`.

my suggestion: abstract these away with a method called `score()`. could work something like:
[code]

where ```score()``` would call ```deviance()``` and ```pseudo_R2```:

[code]

This way you can leave the current ```deviance``` and ```pseudo_R2``` functions as they are simply modify ```score```

[2016-05-09 15:57] #57 closed

[2016-05-09 15:58] pavanramkumar opened #62 "make sure np.random.seed can be set in one place globally"
right now, it needs to be set within `.fit()`

[2016-05-09 16:09] hugoguh commented on #56
sure!
let’s see it with only one `reg_lambda`, first just like in README, except setting one `reg_lambda`:

[code]

now fit
[code]
here’s the output, looks good except for that extra space ;):
![screen shot 2016-05-09 at 11 02 30 am](https://cloud.githubusercontent.com/assets/3664942/15119239/9a556500-15d5-11e6-9f10-7da3b55d680a.png)

now instantiate another (or re-instantiate same model):
[code]

[2016-05-09 16:09] hugoguh commented on #56
remove that extra spacing after `dL/L:...` also :)

[2016-05-09 16:48] jasmainak commented on #58
I like the idea of a `score` method. It's also consistent with `scikit-learn` API. So, you should be able to use `cross_val_score` ...

[2016-05-09 19:08] hugoguh opened #65 "convergence bug?"
I noticed it while working on cvpyglmnet:

![screen shot 2016-05-09 at 2 01 10 pm](https://cloud.githubusercontent.com/assets/3664942/15124619/857f8570-15ee-11e6-84fc-f33565b78db3.png)

If you notice there is a weird behavior on the training performance: the training set deviance is supposed to always go down as `reg_lambda` approaches zero (or log(Lambda) becomes more negative).

Here’s some code

[2016-05-09 19:13] #56 closed

[2016-05-10 05:20] pavanramkumar commented on #42
I added a separate `distr` for the canonical Poisson targets called `poissonexp`.

However, the gradients are unstable due to overflow of `numpy.exp()` and `fit()` returns `nan` for all coefficients.

I believe that the R and Matlab implementations of `glmnet` also face this issue for the `poisson` case and they probably use some modifications of `exp()` to prevent over- or under-flow.

I can look

[2016-05-10 14:05] hugoguh commented on #42
Have you tried using an optimizer, let's see is an optimizer finds the solution when we give it the cost function.
Does it consistently fail? Even with low firing neurons and good initializations?

[2016-05-10 17:37] hugoguh commented on #8
got some weird results when trying pyglmnet with `distr=normal` on Roozbeh’s electro imaging data. Will build a comparison with `sickit-learn` soon to document that possible bug

[2016-05-10 17:41] #33 closed

[2016-05-10 17:45] pavanramkumar commented on #42
I have managed to get the canonical link `poissonexp` to work. I use a simple hard threshold to prevent overflow. However, the way I currently implement the nonlinearity `qu` is as follows:

[code]
This for loop seems to be very slow and makes `10000` x `100` problems extremely slow. Anyone know a faster way to do this?

[2016-05-10 18:22] hugoguh commented on #42
How about making it a smooth transition between `np.exp` and `np.log(1+exp(x))`
having as relative weight a `logistic` that crosses zero at `5` or whatever threshold you find good

[2016-05-10 18:34] hugoguh commented on #42
something like this

[code]
![screen shot 2016-05-10 at 1 33 34 pm](https://cloud.githubusercontent.com/assets/3664942/15158068/d547fd10-16b3-11e6-8eb0-33f7e87e569f.png)

you can change the steepness of the logistic also to make a more sharp but still smooth transition

[2016-05-10 18:46] hugoguh commented on #42
maybe a good time to try a couple of these optimizers?
http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.optimize.minimize.html

To check if any of them manages to avoid this problem. And also to test the convergence of our gradient descent implementation where it seems to be working

[2016-05-10 19:38] pavanramkumar commented on #42
ok, this is significantly faster and works well for `10000` x `100`:
[code]

[2016-05-10 19:45] pavanramkumar commented on #42
@hugoguh i will try the optimizers, but i need to hand-compute the hessians for each distribution first. i will do that. follow the updates in issue #39

[2016-05-10 19:45] hugoguh commented on #42
It’s a bit ugly though no? Why 5? How will it affect the fits
we should test the `scipy.optimize` and see if any optimizer manages to avoid it and try to implement it

[2016-05-10 19:47] hugoguh commented on #42
Ah ok, only saw your reply now.
I think some don’t need hessian, but with hessian you can try more, and also expect better performance.
Cool

[2016-05-10 20:31] hugoguh commented on #8
ok the problem with fitting Roozbeh’s data is the learning rate. We stop getting very weird fits with smaller learning rates.
still not very good fits though when compared with `sickit-learn`, probably needs adaptive learning rate

[2016-05-10 20:47] jasmainak opened #66 "enforce same shape for input / output in multinomial case"
This issue was discovered here: https://github.com/pavanramkumar/pyglmnet/commit/749bba9559bcddc65b0c5f68b7196691a5b5f489#commitcomment-17402965

basically if the output `y_pred` is going to be `n_samples x n_classes`, the input `y` should also be the same shape. Converting to this shape can be done by

1. the user
2. using scikit-learn
3. a convenience function for this can be provided.

but not

[2016-05-10 20:53] jasmainak commented on #51
scikit-learn does it using `partial_fit`: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier.partial_fit. We should investigate their API

[2016-05-10 20:57] pnlawlor commented on #51
i think that may be a subset of data points, not a subset of features. people often use this kind of approach when the data won't fit in memory. :)

[2016-05-10 21:00] jasmainak commented on #65
The last plot just looks like a zoomed version of the first plot to me. Did you try other metrics like RMSE or so?

[2016-05-10 21:07] jasmainak commented on #51
Ah, I see. I had misunderstood the use-case :)

[2016-05-11 10:04] pavanramkumar commented on #42
this issue is now closed by commit 135f488c3b3f343bd4d06141ce41b51d7bd054cf

[2016-05-11 10:04] #42 closed

[2016-05-11 12:03] jasmainak commented on #42
@pavanramkumar tests would be nice :)

[2016-05-11 12:39] jasmainak opened #69 "add list of dependencies in README"
we should decide on the dependencies (and version of the dependency) for pyglmnet

[2016-05-11 16:08] hugoguh opened #70 "shape issue in poissonexp output"
running README example, `.predict` has output with shape `(10, 10000, 1)` when using `distr=poissonexp`
for the other distributions has shape `(10, 1000)`

[2016-05-11 16:28] pavanramkumar commented on #70
related: tests can be improved by adding shape checks for key outputs

[2016-05-11 16:30] jasmainak commented on #70
+10 :) I think we should loop over all the different distributions and check for some common stuff -- like shape etc.

[2016-05-11 16:37] hugoguh opened #71 "convergence problems with poissonexp"
I got negative pseudo-R2s on the V4 data

so I checked:
running with default `reg_lambdas` seems to work fine
[code]
Output:
[code]

However if I choose another, even not that different range here’s what happens:
[code]
output:
[code]

[2016-05-11 16:37] jasmainak commented on #47
I suppose this can be moved to `0.2` @pavanramkumar ? we should try to get the low-hanging fruits first and ensure that everything works smoothly, tests pass and we the docs / tutorials are great. Especially since `scikit-learn` already offers pretty cross-validation routines, we should have a good reason to replace it + think about the API carefully.

[2016-05-11 16:40] jasmainak opened #72 "inherit `scikit-learn` BaseEstimator object?"
We can copy the `BaseEstimator` class from here (with proper attribution): https://github.com/mne-tools/mne-python/blob/master/mne/decoding/base.py

Then it should work with `scikit-learn` cv objects without having a dependency.

[2016-05-11 16:46] hugoguh commented on #71
if I switch the order of the `reg_lambdas` then it works again.
i.e. if I give it
 `reg_lambda=[0.5, 0.2, 0.1, 0.01, 0.001, 0.0001, 0])` instead of `reg_lambda=[0, 0.0001, 0.001, 0.01, 0.1, 0.2, 0.5])` then it works.

So my guess is that it is working well in this particular example for the higher values of `reg_lambda` and then it takes advantage of the warm restart.
Which brings 2 issues:
- shou

[2016-05-11 17:00] jasmainak commented on #71
maybe this could be a test?

okay, we can do that too but option should not be in the public API. Maybe in a private function / method ...

[2016-05-11 18:14] hugoguh commented on #71
an alternative to shutting down warm restarts is  to just run it for each individual lambda at a time and compare it to when running them together.

I haven’t manage to get positive pseudo-R2s on the V4 neuron for the canonical link function in pyglmnet `distr=poissonexp`, I have tried several `reg_lambdas`.
Using R with the canonical link I get `pseudo-R2 = 0.0383 (+/-0.0059)`
Using pyglmnet with

[2016-05-11 19:19] pavanramkumar commented on #71
according to the paper, the logic of warm restarts doesn't work if we go from low to high lambda. they recommend fitting the largest lambda first and initializing the next lambda after.

fix: the documentation should include this so that user knows to specify lambda's in decreasing order.

@hugoguh shall i close this issue and create a new issue for documentation related changes?

[2016-05-11 19:24] hugoguh commented on #71
still it should converge for a single `reg_lambda`
[code]
output:
[code]

[2016-05-11 19:24] pavanramkumar commented on #47
@jasmainak totally agree. my goal is to solve smallest self-contained set of by issues this weekend and focus only on API and documentation issues next week so that we are in time for the milestone `version 0.1`

@hugoguh do you agree?

[2016-05-11 19:25] pavanramkumar commented on #72
@jasmainak is this related to `cvpyglmnet` issue? should we merge the issues or classify this as `version 0.2`?

[2016-05-11 19:32] pavanramkumar commented on #1
tables don't work in jupyter notebook, but i will add this to sphinx documentation once the framework is ready

[2016-05-11 19:50] jasmainak commented on #72
I can look into it early next week if nobody beats me to it :) It's not too difficult. I suppose it would be neat if you can show cross-validation results with the `GLM` object before the release. My idea is that for the first release, we can first show the simple use case where you can do cross-validation with a `scikit-learn` cv object. The `cvpyglmnet` object that you first proposed might be ha

[2016-05-11 19:58] hugoguh commented on #71
I don’t think this issue should be closed.

It’s not about documenting the order of the lambdas when using warm starts (though that should be documented).

This issue was about the convergence which still fails in this case. While R doesn’t.
So far I have tried pyglmnet on two real datasets and it has failed to converge for both:
- failed on V4 (canonical poisson) while R works
- failed on Electro

[2016-05-11 19:58] jasmainak commented on #62
I added this to `version 0.1` milestone as it seems critical to reproducibility of our results. We can add an argument to `GLM` called `random_state` or `seed` which gets used by all the methods in GLM. What do you think?

[2016-05-11 20:03] jasmainak commented on #71
@hugoguh I agree we should crease out the convergence issues urgently. Did you manage to trace the source of the bug?

[2016-05-11 20:05] hugoguh commented on #47
I agree with leaving `cvglmnet` for`version 0.2`. And that we should focus on something self-contained that works. I don’t think it should be released before it survives some serious comparison with the equivalent implementations in `sklearn` and `R` on simulated and real data

[2016-05-11 20:10] jasmainak commented on #47
I totally agree. We can create a `notebook` for the benchmark. It doesn't have to live in the repo but could be linked via the documentation. Let's just benchmark with `scikit-learn` for now since it's in python and therefore easier to compare if set the same seeds etc.? Maybe we can focus just on the convergence for now and forget about `memory` and/or `timing`? Getting the right result is probab

[2016-05-11 20:13] jasmainak commented on #47
also with regards to the release, I seem to remember that 3 months is a pretty good development cycle adhering to the "release early, release fast" philosophy. 1 month is really fast :)

[2016-05-11 20:22] jasmainak opened #73 "adhere to numpy docstring conventions"
http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html

Especially, I find this very readable:

[2016-05-11 20:25] jasmainak opened #74 "add API reference"
more like a reminder for me. Something like this: http://sphinx-gallery.readthedocs.io/en/latest/reference.html. It will list all the functions + docstrings in the html pages.

but @titipata feel free to add it with your PR if you're in the flow :)

[2016-05-11 20:26] jasmainak commented on #74
@pavanramkumar hope I am not adding too many issues! just trying to check of things which are necessary to make it look polished :)

[2016-05-11 20:33] pavanramkumar commented on #71
@hugoguh agreed that we should make the outputs conform to sklearn and R glmnet package for whichever use cases exist in those tools. I appreciate all the testing!

[2016-05-11 20:37] pavanramkumar commented on #71
Let's aim to get to the bottom of the bug.

In your bug report above, I wouldn't call it a convergence issue, so much as a poor choice of reg. parameter. Note that the absolute value of reg. parameter lambda cannot be directly compared for `scikit learn` and `pyglmnet`. This is because the cost function (negative log likelihood) is normalized slightly differently. Therefore the relative weight of

[2016-05-11 20:40] pavanramkumar commented on #71
As for the linear case with Roozbeh's data, we figured out that the fit improves a lot with a better choice of learning rate. We can only get to the bottom of this issue after the learning-rate-free `newton-cg` solver has been implemented in issue #39. My goal is to solve #39 this weekend

[2016-05-11 20:42] pavanramkumar commented on #74
@jasmainak no, your suggestions and contributions are amazing! but i'll continue to be issue nazi to make sure we don't get distracted...

[2016-05-11 20:49] pavanramkumar commented on #65
renaming a few issue titles for clarity

[2016-05-11 20:50] pavanramkumar commented on #70
@jasmainak assigned you the shape issues, feel free to say no :)

[2016-05-11 20:59] hugoguh commented on #71
@pavanramkumar
we can compare them directly when setting `reg_lambda` to zero. `R` with V4 data and `sklearn` with Roozbeh’s data worked fine with `reg_lambda=0`, while pyglmnet didn’t. So I think it is a convergence issue.
I agree that we need the adaptive learning rate optimizer, and while it is not implemented (and also when it is) implemented we should use `sklearn`s `newton` on our cost funct

[2016-05-11 21:02] hugoguh commented on #70
cool but tomorrow morning :)

On Wed, May 11, 2016 at 3:50 PM, pavanramkumar <notifications@github.com>
wrote:

[2016-05-12 01:27] titipata commented on #72
@pavanramkumar I totally agree with @jasmainak. If we inherit `BaseEstimator`, it will look very clean and later on we can easily apply cross validation from `scikit-learn`. +1 for this

[2016-05-12 02:02] pavanramkumar commented on #71
From here: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html

alpha : float
Constant that multiplies the penalty terms. Defaults to 1.0 See the notes for the exact mathematical meaning of this parameter. alpha = 0 is equivalent to an ordinary least square, solved by the LinearRegression object. For numerical reasons, using alpha = 0 with the Lasso object is not

[2016-05-12 02:12] pavanramkumar commented on #71
Turns out this is mainly an issue of regularization path. See conversation in #76
Should I create new issue for "solution dependence on regularization path"?

[2016-05-12 02:42] daniel-acuna commented on #72
@jasmainak I can work on this if you want

[2016-05-12 02:44] titipata opened #77 "gh-pages does not render css files"
This issue is for me to solve. If anyone knows how to solve, feel free to help.

@jasmainak @pavanramkumar , I put generated documentation to `gh-pages` branch which you can see at http://pavanramkumar.github.io/pyglmnet/. However, the page doesn't render css file (I'm not sure why). Here is snippet on how I push it branch.

[code]

see reference [here](http://blog.nikhilism.com/2012/08/automatic-

[2016-05-12 04:11] daniel-acuna commented on #72
@jasmainak @pavanramkumar following the idea of using sklearn's classes, I was wondering if I should inherit from the `ElasticNetCV` class in https://github.com/scikit-learn/scikit-learn/blob/5876f885f04f1abbf46a9cdfb5cb1d5a2ff64f98/sklearn/linear_model/coordinate_descent.py#L1355 I would only need to redefine the function that produces the path (https://github.com/scikit-learn/scikit-learn/blob/5

[2016-05-12 08:22] jasmainak commented on #72
what is the least "copy-able" unit if we were to not create a dependency?

Actually I just realized this, the license for `scikit-learn` is BSD whereas ours is MIT. @pavanramkumar any particular reason for going with MIT? we would have to copy the BSD license clause in our LICENSE file just for the `scikit-learn` parts. Something like this : https://github.com/nilearn/nilearn/blob/master/LICENSE.

[2016-05-12 08:28] jasmainak commented on #72
that's perfect! Feel free to make a "WIP" even before you have something that works perfectly. You can continue working on it by pushing to the same branch. It's always a good idea for everyone to look at the code early in the development path :)

[2016-05-12 08:44] jasmainak commented on #71
let's just rename this issue so that all the conversation is in the same place?

[2016-05-12 08:46] jasmainak commented on #77
@titipata can you see how `nilearn` does it: http://nilearn.github.io/ ?

[2016-05-12 14:29] #70 closed

[2016-05-12 16:34] daniel-acuna commented on #72
@jasmainak The thing is that ElasticNetCV does the cross validation in a special way by understanding that there is warm start during the regularization path. The simplest inheretance would need to come from `BaseEstimator` and `RegressorMixin` (or `ClassifierMixin` for logistic and multinomial regression, not sure yet) I'll work on it as WIP

[2016-05-12 16:50] jasmainak commented on #72
okay I see. I think it might be specially geared for their `Lasso` object but I'm not sure ...

Also, if we have a `scikit-learn` import in our `pyglmnet.py` file, then we introduce a dependency on `scikit-learn`. Whereas copying the relevant parts of the code will ensure compatibility without introducing dependence. I'm not sure which is better ... I'll look at your `WIP` code :)

[2016-05-12 17:18] pavanramkumar commented on #72
@daniel-acuna do remember that inheriting two classes vs. writing your own class while conforming to API and style elements is probably equivalent in terms of effort!

[2016-05-12 17:25] daniel-acuna commented on #72
@pavanramkumar If I inherit from sklearn classes then I can be used in all data analysis pipelines that sklearn has. Also, people will know better what our class is supposed to do

[2016-05-12 17:28] pavanramkumar commented on #72
@daniel-acuna sure, agreed

[2016-05-12 17:33] titipata commented on #77
@jasmainak thanks! I will explore how they do it.

[2016-05-12 18:25] jasmainak commented on #72
@daniel-acuna let's see what your PR means in terms of code changes. We can continue the discussion once you make the PR :)

[2016-05-12 19:16] daniel-acuna commented on #62
Yeah, lets add random state to GLM

[2016-05-12 19:18] daniel-acuna commented on #62
![image](https://cloud.githubusercontent.com/assets/842569/15227347/5fed7dca-184c-11e6-8110-649b92007b14.png)

[2016-05-12 20:22] daniel-acuna commented on #62
@pavanramkumar I can't fix it without knowing first the reasoning behind it.

It seems that it is used for ensuring reproducibility but I don't know where and therefore making it a parameter of GLM may not fix the problem since the seed setting is also [here](https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L9), which is really strange

[2016-05-12 20:42] pavanramkumar commented on #62
@daniel-acuna setting it [outside](https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L9) the class alone was not sufficient to produce reproducible results. that's why I had to set it [inside](https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L9) the fit function as well. i thought if we accept `RandomState` as a parameter, it can be used to set th

[2016-05-12 23:41] pavanramkumar commented on #72
@jasmainak happy to go with BSD license.

apparently BSD license is for those who fear their name will be dragged through the mud, whereas MIT license is for those who fear their contributions will never be used :)

http://programmers.stackexchange.com/questions/82321/why-do-people-pick-the-mit-license-over-bsd-if-bsds-non-endorsement-clause-i

[2016-05-12 23:51] jasmainak commented on #72
bah, I don't know the real difference between the two :\ BSD is used everywhere because it even allows commercial use -- maximum impact :) not sure if MIT allows that but MIT and BSD are pretty similar as far as I know. If most people are using BSD, it might be easier in terms of logistics I suppose?

[2016-05-13 14:07] pavanramkumar commented on #47
closely follow [`ElasticNetCV`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNetCV.html)

[2016-05-13 15:44] daniel-acuna commented on #72
@jasmainak At the end, I don't use `scikit-learn` code in the new PR #78

[2016-05-13 16:05] #72 closed

[2016-05-13 16:13] daniel-acuna opened #80 "Add pseudo-R2, deviance, and simulate functionality for multinomial model"
- Pseudo-R2 (see deviance)
- [Deviance for general GLM](http://stats.stackexchange.com/questions/108995/interpreting-residual-and-null-deviance-in-glm-r)
- Simulate: easy

[2016-05-13 16:15] #62 closed

[2016-05-13 16:15] #73 closed

[2016-05-13 17:50] jasmainak commented on #72
very cool @daniel-acuna !

[2016-05-13 20:46] #80 closed

[2016-05-14 22:44] pavanramkumar commented on #77
@jasmainak help please! @titipata has been trying to solve this but we're not able to figure out how style/css works

[2016-05-14 22:51] titipata commented on #77
@bluenex investigated but still cannot find why it doesn't load css. He tried putting css file directly on master branch but doesn't work.

[2016-05-14 23:03] jasmainak commented on #77
are you sure you looked carefully what `nilearn` was doing? ;)

it's fixed now :)

[2016-05-14 23:04] titipata commented on #77
Oh my goodness, that's like one file!

[2016-05-14 23:07] jasmainak commented on #77
next step is to add integration of the docs with circle-ci :)

[2016-05-14 23:26] pavanramkumar commented on #77
very cool @jasmainak @titipata @bluenex !!

[2016-05-14 23:26] #77 closed

[2016-05-14 23:27] pavanramkumar opened #82 "add continuous integration of docs"
also write tests for docs/ examples. @jasmainak why circle ci and not travis ci?

[2016-05-14 23:36] jasmainak commented on #82
circle ci has an `artifacts/` folder where you can see the updated webpage. Not sure if that's possible in travis. Plus everyone uses circle, easier to copy-paste ;)

[2016-05-15 15:21] pavanramkumar opened #85 "Implement R-operator method for hess_product()"
Just dropping some knowledge I gained in figuring out `newton_cg`, which might be useful to consider in future release:

The Newton CG algorithm is cool because we can use second order information without inverting the Hessian. At each step, we just need the product of the Hessian with gradients.

Turns out that to calculate the product of the Hessian `H` with an arbitrary vector `v`, we don't act

[2016-05-15 20:06] titipata commented on #74
I add API documentation in https://github.com/pavanramkumar/pyglmnet/pull/87, please feel free to take a look.

[2016-05-15 20:08] titipata commented on #69
This `requirements.txt` probably covers all we need?

[code]

[2016-05-15 23:53] jasmainak commented on #69
I removed the `requirements.txt` in the previous PR if that's what you are referring to. The problem is that `scikit-learn` cannot be installed using `pip` as far as I can remember. So, you really need to spell it out in the documentation rather than in a requirements file ...

[2016-05-15 23:54] jasmainak commented on #69
actually, scikit-learn is not yet a dependency, is it? It is just numpy and scipy. The less dependencies we have, the better. It makes it easier for people to install and use the package ...

[2016-05-16 01:19] #82 closed

[2016-05-16 01:37] pavanramkumar commented on #69
if the newton-cg implementation works, we might need to have ```python scikit-learn >= 0.17```
and yes, it can't be installed through pip. anaconda users need to do `conda install scikit-learn`

[2016-05-16 01:38] jasmainak commented on #69
also what version of python are we going to support ? the advantage of supporting older versions is that you have a larger user base, but you don't want to support something too old too ...

[2016-05-16 01:40] titipata commented on #69
For Python, definitely 2.7, I think `pyglmnet` works with 3.5 also.

[2016-05-16 01:43] jasmainak commented on #69
okay, if we want to support two versions of python, we may need to run it in parallel containers in travis to check that `pyglmnet` works for both versions ... maybe let's just go for python 3.5 for now as it will keep things simple?

[2016-05-16 01:45] jasmainak commented on #69
actually I'm not exactly sure. I'll think about it tomorrow :)

[2016-05-16 12:32] jasmainak opened #89 "setup.py develop install not working"
Not sure why this is the case ... but I am having to run the install command every time I change everything

[2016-05-16 19:37] pavanramkumar commented on #89
yes, both @titipata  and myself face the same issue. i currently rerun setup.py after each change to my code.

[2016-05-16 19:39] #74 closed

[2016-05-16 21:24] #89 closed

[2016-05-16 21:25] pavanramkumar commented on #89
so, no need to run `python setup.py develop install` each time we make a change?

[2016-05-16 21:46] jasmainak commented on #89
yeah, but you would still need to exit `ipython` and enter it again ...

That's why I work with `nosetests --pdb` because I don't need to exit `ipython`

[2016-05-17 22:32] jasmainak opened #92 "same variable for same object"
we should use the same variable name for the same object throughout. I noticed that `glm` is called `obj`, `m`, `model` and various other names. We should stick to just one. This will make it easier to follow the code and also our examples ... the only exception being if there are two instantiations of the same class. In that case it could be `glm_normal` and `glm_poisson` for example. A simple ru

[2016-05-19 09:28] jasmainak opened #96 "move `simulate` out of `GLM` class"
@pavanramkumar isn't it a bit counterintuitive that you would need to instantiate a `GLM` object to simulate it? I think we should move the `simulate` method outside the `GLM` class.

[2016-05-19 09:31] jasmainak opened #97 "add score function for multinomial"
'multinomial' is typically evaluated using a score like accuracy or F1: deviance and pseudo_R2 are not common.

cc @pavanramkumar

[2016-05-19 09:59] jasmainak opened #98 "make `GLM` object compatible with `Pipeline` object"
[code]
Not sure if it's already compatible. We should check. Maybe we could change the test `test_cv` into `test_sklearn_compatibility`?

[2016-05-19 13:08] #92 closed

[2016-05-19 13:10] pavanramkumar commented on #96
@jasmainak

`simulate()` calls `self.lmb()` which in turn calls `self.qu()`. also it has the attractive property that once the user instantiates an object, they can not only fit data with it but also simulate without having the specify the `distr` again.

[2016-05-19 13:48] pavanramkumar opened #99 "relative paths in documentation"
use relative paths that are robust to new host for documentation, e.g.
`pavanramkumar.github.io/pyglmnet/auto_examples/plot_poisson.html` -->
`auto_examples/plot_poisson.html`

[2016-05-19 15:59] the872 commented on #99
@pavanramkumar doesn't gitpages take care of this?

[2016-05-19 16:14] the872 commented on #99
also if someone could do a pull request on the gh-pages branch that would be helpful

[2016-05-19 16:47] jasmainak commented on #99
@the872 we use `make install` to push to the `gh-pages` -- no pull request. It's easier to manage that way.

[2016-05-19 16:53] titipata commented on #99
@pavanramkumar, relative path is taking care of in Sphinx (as @the872 replied). @the872 yeah, we take care of `make install` directly. So you can submit any changes in `master` branch and we'll run `make install` for you.

[2016-05-19 16:57] pavanramkumar commented on #99
ok, thanks @titpata @the872. @jasmainak what exactly did you mean by relative paths? only in `README.md`?

as @titipata said, you can submit PR to `master` and we can run `make installl` after merge

[2016-05-19 16:57] jasmainak commented on #99
my bad, since this page isn't built by sphinx, relative paths won't help. But we should keep this in mind in general.

[2016-05-19 16:57] #99 closed

[2016-05-19 17:12] jasmainak opened #100 "add makefile"
More like a note for myself. We should have a `makefile` for tests like this: https://github.com/nilearn/nilearn/blob/master/Makefile

[2016-05-19 17:27] daniel-acuna commented on #98
I can work on this

[2016-05-19 17:31] daniel-acuna commented on #97
There is no clear way of measuring the performance of a multiclass classifier. I like log likelihood ratio between a null model and full model but I agree it is not standard.

[2016-05-19 23:12] jasmainak opened #101 "add labels + legends to plots"
This example for instance doesn't have labels: http://pavanramkumar.github.io/pyglmnet/auto_examples/plot_poisson_2.html for x and y axis.

also the mathematical symbols are not adequately explained.

[2016-05-19 23:23] jasmainak opened #102 "use more stable expit"
`scikit-learn` computes `expit` in a slightly different way. I'm wondering how much difference this creates: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/fixes.py#L44-64. We should explore this as `expit` is used in many places. Also, if we compute it this way, we don't even need `scipy` as dependency !

[2016-05-20 04:54] pavanramkumar commented on #102
interesting!

i remember learning about how fast `expit` is in relation to `1/(1+np.exp(-x))` when i started implementing it and i'm surprised that sklearn doesn't use it.

So I tried the following:

[code]

[code]
The slowest run took 16.24 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 18.8 µs per loop

[code]

The slowest run

[2016-05-20 04:56] pavanramkumar commented on #102
seems like `scipy` 1 `sklearn` 0!

[2016-05-20 08:29] jasmainak commented on #102
yeah, I explored this issue a bit more and it appears that indeed the `scikit-learn` version is slower. The only caveat is that you need `scipy > 0.14` because in the older version, it was returning `nan` due to the fact that `np.exp(x)` was `inf` when there was an overflow. It seems to have been fixed now, so if we are using `scipy > 0.14` we should be fine.

ps: It seems the `sklearn` version pe

[2016-05-20 08:29] #102 closed

[2016-05-20 18:19] the872 opened #103 "[enhance] better sphinx theme?"
Probably not something for [version 0.1](https://github.com/pavanramkumar/pyglmnet/milestones/version%200.1)  but found [this bootstrap theme](https://github.com/ryan-roemer/sphinx-bootstrap-theme) [(demo)](http://ryan-roemer.github.io/sphinx-bootstrap-theme/README.html) that I think looks better than the current theme.

edit: maybe even do a [gitbook](http://toolchain.gitbook.com)

[2016-05-20 18:39] jasmainak opened #104 "implement coordinate descent"
I just chatted with @rvraghav93 and he is willing to help us with cython code.

This might be a good starting point: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/cd_fast.pyx

it might also be easier to benchmark with R / scikit-learn that way.

Also, he mentioned this to check scikit-learn compatibility: https://github.com/scikit-learn-contrib/scikit-learn-contrib

[2016-05-20 21:01] the872 commented on #101
#105

[2016-05-22 04:44] pavanramkumar commented on #104
sounds great! thanks @rvraghav93

I'm also dropping here is alex gramfort's PR for gap safe screening rules in case we add it to our coordinate descent implementation: https://github.com/scikit-learn/scikit-learn/pull/5075/files

[2016-05-22 04:45] pavanramkumar commented on #103
thanks @the872 yes, we can work on css/theme issues for later versions.

[2016-05-22 04:46] pavanramkumar commented on #96
@jasmainak do you agree? if so, we can close this issue

[2016-05-22 04:51] pavanramkumar commented on #39
this issue has now morphed into issue #104 and PR #84 and those are being pursued. so i will close this

[2016-05-22 04:51] #39 closed

[2016-05-22 05:03] pavanramkumar opened #106 "Reorganize documentation"
Documentation and examples can use some more clarity and polishing. I can work on this to provide a basic structure tomorrow. Feel free to follow up!

**[Tutorial](http://pavanramkumar.github.io/pyglmnet/auto_examples/plot_glmnet.html)**
- ~~Tutorial needs to be moved out of examples gallery and added as a separate section in documentation~~
- Expand on construction of GLMs for exponential familie

[2016-05-22 14:02] jasmainak commented on #96
@pavanramkumar the methods can be factored out of the class. I think this would also solve the problems you are having in the PR #84 . If you really need the object, you can ask the user to pass it as an argument to the function but I still think it's a bit weird to require your model for simulation. Maybe we can take some inspiration from [`scikit-learn` samples generators](http://scikit-learn.or

[2016-05-22 14:03] jasmainak commented on #50
After some thinking, I feel the following methods should be the only ones public:
* `fit`
* `predict`
* `fit_predict`
* `score`
* `copy`
* `get_params`

And the following magic methods:
* `__repr__`
* `__init__`.

The rest should all be private.

[2016-05-22 14:05] jasmainak commented on #103
yeah we can do that. One attractive feature of the `readthedocs` template is that you can host your documentation on their website, but since we are already doing it on `github`, we can experiment with themes :)

[2016-05-22 14:06] jasmainak commented on #101
closed by #105

[2016-05-22 14:06] #101 closed

[2016-05-22 14:16] jasmainak commented on #106
for benchmarks you might want to look at this: https://github.com/scikit-learn/ml-benchmarks

[2016-05-22 19:10] pavanramkumar commented on #96
@jasmainak i like the samples generators approach used by `scikit-learn` but still feel it's for a different purpose. Let me make my case!

- The `datasets` methods are good to simulate an entire dataset, i.e. both `X` and `y`. By contrast, our `simulate` function takes `X` and `beta` as inputs and simulates `y`. This is often useful when we want to simulate a corner-case and test if our estimator

[2016-05-22 22:46] jasmainak commented on #96
@pavanramkumar okay, let's keep it how it is for now :) I definitely agree we don't need to conform to `scikit-learn` conventions if we can come up with better conventions !

[2016-05-22 22:46] jasmainak commented on #96
closing this issue for now

[2016-05-22 22:46] #96 closed

[2016-05-23 00:46] pavanramkumar commented on #50
this is fixed now by PR #107

[2016-05-23 00:46] #50 closed

[2016-05-23 18:34] the872 opened #110 "tutorial [.py -> .rst]"
since the tutorial is not being compiled would it make sense to convert it into a .rst file so it is not nested (tutorials/tutorial vs just tutorial) in the [docs site](http://pavanramkumar.github.io/pyglmnet/)?

just not sure what is wanted out of the tutorial for future implementations

[2016-05-23 18:39] pavanramkumar commented on #110
Hey @the872 I agree that it can be converted to rst. I envision it more as a walk through the math with small blocks of code to aid future developers understand our class.

Shall I give you push access to my `clean_docs` branch? If you can port from `.py` to `.rst` I can then go through and modify content.

[2016-05-23 18:46] the872 commented on #110
@pavanramkumar sure thing!

[2016-05-23 18:50] pavanramkumar commented on #110
great, i gave you collaborator access to the repo. once you're done porting to `tutorial.rst`, you can push directly to the `cleaning_docs` branch. it should automatically update PR #109

i can then update content.

[2016-05-23 18:51] pavanramkumar commented on #110
once you commit locally, do:
[code]

[2016-05-24 03:06] the872 commented on #110
@pavanramkumar your commits aren't showing in the [cleaning_docs](https://github.com/pavanramkumar/pyglmnet/tree/cleaning_docs) branch. maybe recommit them from local? otherwise, this particular issue should be wrapped up! will follow up to restructure the conf.py and index.rst to include the tutorial

[2016-05-24 03:06] #110 closed

[2016-05-24 08:05] pavanramkumar commented on #110
@the872 i deleted the cleaning_docs branch.

can you now submit PR with `tutorial.rst` along with `index.rst` and `conf.py` updates from your own fork? sorry for the double work, but this way is safer :)

P.S. i'll be gone for a week, but others can merge your PRs as needed

[2016-05-24 15:32] the872 opened #113 "add dependencies to Developer Documentation"
[referring to this](http://pavanramkumar.github.io/pyglmnet/developers.html), you have to install a couple extra thing to do make html on sphinx

➜  ~ pip install sphinx
➜  ~ pip install sphinx-gallery
➜  ~ pip install Image
➜  ~ pip install matplotlib

its not too hard to deduce with the error messages you get back from terminal but it could be helpful to have in the docs

[2016-05-24 16:18] jasmainak commented on #113
why do you need `Image` ?

[2016-05-24 16:38] marquesVF commented on #100
I'm working on that

[2016-05-24 18:00] the872 commented on #113
does it generate the image of the graphs?

[2016-05-24 18:27] the872 opened #114 "cpd example is breaking"
[this example](http://pavanramkumar.github.io/pyglmnet/auto_examples/api/plot_poisson_2.html#sphx-glr-auto-examples-api-plot-poisson-2-py) is breaking on the site but when I run the docs locally it seems fine

[2016-05-24 21:04] marquesVF commented on #113
At #115 it's possible to solve those dependencies with one command. It also would be helpful to have in the docs.

[2016-05-25 14:04] jasmainak commented on #114
let me try to run it ...

[2016-05-25 14:04] jasmainak commented on #113
feel free to add the dependencies to the developer docs after addressing the comments in #115.

[2016-05-25 14:08] jasmainak opened #116 "remove code in comments"
We have a lot of code in comments like this: https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L192-196.

we should not have this because of two reasons:

1/ all the code is version controlled so if someone wants to look at the old way to do it, they should just checkout the old commit.
2/ It makes the code base more complex. Python code is already very readable if proper

[2016-05-25 14:09] jasmainak commented on #116
comments like this are also not very helpful: https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L328 since it's obvious from the next line that it's the shape of the dataset. In fact the code is clearer than the comment here.

[2016-05-25 14:18] jasmainak commented on #114
I get the following error when I try to build the examples:

[code]
Do you want to try fixing it?

[2016-05-25 14:21] jasmainak commented on #114
never mind, it was a problem with my setup. It's fixed now. Closing issue ...

[2016-05-25 14:21] #114 closed

[2016-05-25 17:23] jasenjackson commented on #97
Could we measure performance with the sci-kit log_loss function?

http://scikit-learn.org/stable/modules/model_evaluation.html#log-loss

I was looking through their documentation, and it says that logistic regression loss is a common way of evaluating performance for multinomial classifiers and neural networks.

[2016-05-26 17:15] #116 closed

[2016-05-26 17:16] #100 closed

[2016-06-08 23:40] pavanramkumar commented on #69
We've added dependency list to `install.rst`. So I'm renaming this issue to discuss any dependency changes closer to release.

[2016-06-09 19:53] pavanramkumar commented on #66
@jasmainak I'm revisiting this issue now. I feel that we should minimize the burden on the user.
If we would force `y` to be `n_samples x n_classes`, we either need to provide a helper function which leads to overhead in terms of API, or we need to make then use `scikit-learn`.

Since it's much more standard for many problems to have labels as integers in a 1-d array (even sklearn's `make_classifi

[2016-06-10 06:58] jasmainak commented on #66
@pavanramkumar do you agree that the shape of the input in fit() should be
the same as the shape of the output in transform()? If we agree to make it
1-D we have to still internally do the transformation back to 1-D before
returning to the user. If we allow 1-D, imagine the range of possible ways
the label could be encoded. You could have two strings for 0 and 1 or two
numbers etc. We would have t

[2016-06-28 18:54] ravigarg27 opened #125 "Make family names consistent with R package or statsmodels"
The R version has Gaussian as family/distribution name.

[2016-06-28 19:33] ravigarg27 commented on #125
The default parameters can also be changed to make it similar to the R package

[2016-07-02 16:47] daniel-acuna commented on #98
Please see https://github.com/pavanramkumar/pyglmnet/pull/126 for an attempt at solving this issue

[2016-07-02 21:55] jasmainak commented on #125
PR welcome :)

[2016-07-08 20:12] yves-weissenberger opened #127 "Example Code Not running"
Hey,

I tried running your example code, but the outputs I get are very different to what is shown on the example page. I've tried on two separate machines.

Running python 2.7 with:

numpy (1.11.0)
scipy (0.17.0)
scikit-learn (0.17.1)

I've uploaded the run notebook [here](https://github.com/yves-weissenberger/misc/blob/master/plot_poisson_2.ipynb)

[2016-07-08 20:34] jasmainak commented on #127
I can confirm the bug

[2016-07-08 20:59] jasmainak commented on #127
I think it is related to this latest PR: https://github.com/pavanramkumar/pyglmnet/pull/123/. Also, we have an outstanding issue with random seeds which I just noticed has been closed. @pavanramkumar did we manage to fix that? It appears that we still have the seed problem.

[2016-07-09 20:17] pavanramkumar commented on #127
Thanks @yves-weissenberger for reporting this issue! And thanks @jasmainak for first response.

To answer your question: yes, it is indeed related to PR #123 when modified the loss function to scale well with `n_samples`. As a results, the default learning_rate has increased. The API examples might not have been updated since then, but try using the default learning rates.

In your example, you se

[2016-07-09 20:21] pavanramkumar commented on #127
@jasmainak I think the random seed issue has been fixed with an input parameter called `random_state`.

At least, I tried re-running `fit()` and `predict()` for the same values of `Xr`, `yr`, `Xt`, `yt` and got the same results.

You can also check that if you change `random_state` to a different value while instantiating the `GLM` object, you will get a different result, but that's not because th

[2016-07-09 21:20] jasmainak commented on #127
should we also make this accept a `random_state`? I don't see any reason to have it as random. It will make debugging harder

[2016-07-09 21:23] pavanramkumar commented on #127
@jasmainak It already does. `simulate()` draws poisson random variables using `numpy.random.poisson` to simulate spike counts. It sets the seed using `self.random_state`. If you change `random_state` you will get different `yr`, `yt`.

[2016-07-09 21:23] jasmainak commented on #127
@pavanramkumar should we update these examples then? It might be confusing for a beginner that the website examples don't work as expected.

[2016-07-09 21:40] yves-weissenberger commented on #127
Hi,

thanks for the quick responses, problem is fixed :).

![image](https://cloud.githubusercontent.com/assets/9501913/16710416/2b0dafc4-4625-11e6-8ba1-f622ef41c38c.png)

As an end user, I think I would recommend changing the examples. I came across this package after having fit my GLMs with scipy, statsmodels and lucas theis cmt module. Even then I was confused, assumed it was some dependency pro

[2016-07-09 22:03] pavanramkumar commented on #127
@yves-weissenberger glad it's sorted out for now! and cool to hear about your journey to `pyglmnet` :)

yes, i'm working on updating the examples right away.

we're working on organizing the examples gallery into three categories:
- API demos
- benchmarks (i.e. time complexity and accuracy comparisons against `R` and `scikit-learn`)
- applications (demos of the package being applied to real data)

[2016-07-10 05:51] pavanramkumar commented on #127
ok, i've updated the example api pages to reflect the default learning rates. i will close this issue. thanks for reporting, it leads to epsilon improvements.

[2016-07-10 05:51] #127 closed

[2016-07-13 14:10] pavanramkumar commented on #104
Just fyi, I have implemented and tested newton coordinate descent in pure python for the `poisson` case. It works well, by 5-10x slower than current batch gradient descent code. I'll make a WIP PR of the pure python version once I've done it for other `distr`. Soon!

Meanwhile, I've been trying to accelerate by jit compiling with `numba` but it seems less straightforward than I thought. Could use

[2016-07-13 22:02] jasmainak commented on #104
we're going to experiment with cython in the coming weekend hopefully. It's a 4 day weekend here ;) Neither me or @raghavrv have experience with `numba` though ... WIP PRs are always welcome :)

[2016-07-13 22:14] pavanramkumar commented on #104
Sounds great! My WIP PR will give you a pure python code so that you can focus on translating to cython or numba. I'll aim to get it in to you guys for Bastille day.

[2016-07-17 00:29] pavanramkumar commented on #104
Ok, PR is now updated to solve the `multinomial` case with the cdfast method.

[2016-07-17 00:37] jasmainak commented on #104
Thanks @pavanramkumar ! We _almost_ sat down with the intention of hacking cython today but ended up enjoying food in a delicious asian veg restaurant instead. I blame it on Paris! We'll try to get down to it soon ... hopefully tomorrow :)

[2016-07-21 17:11] pavanramkumar opened #134 "Implement a history method"
It should return a history object (maybe `dict`) that has the loss function and other summary stats about the parameters for each iteration.

We can look into keras or GRLM for style:
http://keras.io/callbacks/
https://github.com/cehorn/GLRM/blob/master/glrm/convergence.py

[2016-07-22 21:15] hugoguh opened #135 "Add progress bar for estimation using tqdm"
[code]

[code]

[2016-07-25 21:34] jasmainak commented on #135
I've never used `tqdm` but we used `Progressbar` in the past. The problem with that is that the logger does not go well with these tools as you can't control the verbosity here.

[2016-07-31 23:53] pavanramkumar opened #136 "Create a demo for using pyglmnet with thunder-project's regression tools"
Thunder provides a lot of image and time series algorithms for spark. It allows one to specify a custom python algorithm for regression as long as it conforms to certain scikit-learn API standards (we already do, I think):
https://github.com/thunder-project/thunder-regression

Would be worth giving it  try!

[2016-09-12 17:13] pavanramkumar commented on #104
Hey guys! @jasmainak @raghavrv I haven't been able to carve out time for cython experiments myself, but I ran into SWIG today: http://www.swig.org/tutorial.html

A useful alternative to cython could be:
- write the cdfast() functions directly in C
- wrap using SWIG

In any case, if you guys want to take a stab at Cython let me know!

[2016-09-12 18:28] pavanramkumar opened #137 "Group Lasso"
Group Lasso, as well as group L2, and group elastic net might be extremely useful for cases when groups of coefficients need to be regularized jointly. This might be the case in (say) receptive field estimation where each pixel in the visual field is a coefficient.

We can implement this by:
- accepting a group membership list-like parameter `group`
- accept a group regularization parameter `group

[2016-09-12 18:40] pavanramkumar commented on #98
after the pydata conference, i've come to appreciate the power of pipelines a lot more!

i had a simple idea to make `score()` compatible with pipelines easily:
- create an extra instance variable `ynull` that stores `np.mean(ytrain)`.
- implement this in the `fit()` method.
- write a simple test to make sure that `score()` cannot be called `if self.ynull is not None`.

[2016-09-12 18:55] pavanramkumar opened #138 "Implement theano backend for pyglmnet"
I'm inspired by Keras and want to create a `backends.py` file that will automatically check `~/.theanorc` and allow the GLM to be implemented in theano without any changes to the existing API.

The bare bones code is actually pretty easy in theano and I wrote a little gist of how it could be done:
https://gist.github.com/pavanramkumar/50a7758b15c7da0b3c52d37e2f878aa2

Something similar could be do

[2016-09-13 20:59] jasmainak commented on #104
@pavanramkumar sorry I haven't been able to look into cython yet. But maybe it's a good thing that we don't rush premature optimization.

Do we already have comparable performance (in terms of accuracy) to scikit-learn and R?

[2016-09-13 21:02] pavanramkumar opened #139 "Tikhonov regularizer"
[Tikonov regularization](https://en.wikipedia.org/wiki/Tikhonov_regularization) is really useful for problems where we know that features covary with each other.

For instance, in time series problems, nearby time points are correlated. In receptive-field estimation problems, nearby pixels are correlated. In gene expression problems, we have prior knowledge on which genes are likely to be co-expre

[2016-09-13 21:02] jasmainak opened #140 "example broken"
I noticed that the example is broken on the webpage: http://pavanramkumar.github.io/pyglmnet/auto_examples/api/plot_poisson_2.html#sphx-glr-auto-examples-api-plot-poisson-2-py

[2016-09-13 21:14] jasmainak commented on #138
this is indeed impressive. Could this simply our code?

Theano has many dependencies. Could this be done with SymPy too? It comes packaged with Anaconda

[2016-09-13 21:19] jasmainak commented on #98
yeah, that sounds like a neat idea indeed. Maybe call it `ynull_` since it's something you estimate. And we can use `hasattr` to check if the attribute exists

[2016-09-13 21:24] jasmainak commented on #139
+1, sounds easy enough to implement.

[2016-09-13 21:25] pavanramkumar commented on #138
SymPy only does symbolic differentiation! This is good to check your calculus, but it won't automatically compute gradients.

Theano/ Tensorflow do automatic differentiation and build a computational graph before running anything. See my PyData slides for a brief overview of the difference b/w SymPy and Theano: https://pavanramkumar.github.io/pydata-chicago-2016

[2016-09-13 21:42] jasmainak commented on #138
nice slides ;)

good point indeed. How about `autograd`: https://github.com/hips/autograd ? I tried looking for benchmarks comparing autograd and theano but couldn't find anything ...

[2016-09-13 23:38] pavanramkumar commented on #138
Autograd seems like an awesome project from Ryan Adams's group. But it's a really new project and doesn't have GPU support as yet. Theano and Tensorflow are widely adopted industry standards in deep learning and many other packages are built on top of them (e.g. Keras). I'd love to use Keras's backends class as an inspiration to implement this in a way that doesn't affect the API at all: https://k

[2016-09-14 07:02] jasmainak commented on #138
thanks for looking into it! How critical is GPU support for automatic differentiation? I don't have a clear sense of performance differences. Maybe let's pick one backend for now to avoid [feature creep](https://en.wikipedia.org/wiki/Feature_creep)?

Do you want to make a PR?

[2016-09-14 07:21] jasmainak commented on #134
how do you envision this to be different from the logger that we already have?

[2016-09-14 17:19] pavanramkumar commented on #138
working on a theano PR with @ravigarg27 in the lab

[2016-09-14 17:22] pavanramkumar commented on #134
does logger give us loss and log likelihood for each iteration that we can later visualize?

[2016-09-14 21:36] evadyer opened #141 "make sure to square the norm in penalty gradient"
currently is `np.linalg.norm(X)`. should be replaced with `np.linalg.norm(X) ** 2`

[2016-09-15 13:32] jasmainak commented on #106
can we close this issue? we should start pushing for a 0.1 release soon

[2016-09-15 13:42] jasmainak commented on #134
okay, but why not simply have `glm.loss` and `glm.log_likelihood` ?

[2016-09-15 19:05] ravigarg27 opened #144 "Docker file"
Create docker image for pyglmnet.

[2016-09-15 20:29] ravigarg27 opened #145 "Default value of alpha wrong in class initialization."
In the init for class GLM the default value of alpha is set to 0.05 but should be 0.5

[2016-09-15 21:13] jasmainak commented on #145
oh boy, how did this happen.

Can you make a small PR to fix it?

[2016-09-15 22:03] jasmainak commented on #145
closed by https://github.com/pavanramkumar/pyglmnet/pull/146

[2016-09-15 22:03] #145 closed

[2016-09-15 22:37] #141 closed

[2016-09-15 22:40] jasmainak commented on #138
@pavanramkumar I'm wondering if this issue can wait till the 0.2 release. As it's a major change, it will cause all open PRs to have merge conflicts. Maybe we should first close the milestone 0.1 PRs before proceeding with this ...

[2016-09-16 17:56] ravigarg27 commented on #138
I agree. I looked into how backends are implemented in Keras and that will require a bit of overhaul with our current code base. It will also depends on when you want to release the 0.1 version.

[2016-09-16 20:43] jasmainak commented on #138
@ravigarg27 I pushed the release of 0.1 version to 31st October. We can release even before that if things are ready.

I see two stalled PRs which seem to be blockers: https://github.com/pavanramkumar/pyglmnet/pull/124 and https://github.com/pavanramkumar/pyglmnet/pull/126 before proceeding on a PR like this one. There is also this example which needs to be fixed: https://github.com/pavanramkumar/

[2016-09-17 15:40] pavanramkumar commented on #138
Agreed. I'm on board for 0.1 release date.

[2016-09-17 15:59] pavanramkumar commented on #98
I briefly reviewed these two stalled PRs #124 and #126. Pipeline compatibility is holding up both of them:

- if we accept PR #124 then we get a score for all values of `reg_lamba` when we call `glm.score()` without slicing. this is not compatible with pipelines because `cross_val_score` expects a scalar from the estimator's score function.

- PR #126 currently doesn't make sense -- it averages th

[2016-09-17 16:30] pavanramkumar commented on #106
The benchmarks are still incomplete. I've been working on a comparison with R. Let's keep this issue open as a general docs checklist for the 0.1 release

[2016-09-17 22:48] jasmainak commented on #98
@pavanramkumar that sounds like a great plan to me. We should definitely go ahead with this PR. If we have compatibility with the `Pipeline` object, we can already advertise the fact that you can work with `pyglmnet` and use advanced grid search / pipeline / cv objects from `scikit-learn` at the same time. Taken together with the fact that you can do all this in R style, that is predict and score

[2016-09-17 23:26] jasmainak opened #147 "cheatsheet as part of documentation?"
I love this cheat sheet but I fear that updating this is going to be a pain. Every time you update it, the whole pdf will show up in the diff. That's not good for the repo as the history keeps getting larger. So, it takes longer and longer for people to clone ...

Also, I feel it's less accessible when it's there as a pdf than a webpage. If we can make it part of the docs, that would be great. Tho

[2016-09-17 23:30] jasmainak commented on #147
Also, if it's in sphinx you can crossref the rows to their relevant function documentation ...

[2016-09-18 09:25] jasmainak opened #149 "community crime example csv file"
I tried looking here: http://archive.ics.uci.edu/ml/machine-learning-databases/communities/ for the *.csv file in the community crime example but it's not a csv file.

Also, looking at pandas `read_csv`, it seems that you can also provide it a url. If we do that, all users can run the example without having to download it separately ...

[2016-09-18 17:10] pavanramkumar commented on #98
Awesome. I'll take this up as soon as I finish and merge #142

[2016-09-18 17:17] pavanramkumar commented on #147
Agreed, I'm just must faster in latex than sphinx. Anyone want to translate this?

[2016-09-18 17:41] pavanramkumar commented on #149
Great idea. It would be good to rewrite all real data examples with `read_csv` fetching the file directly.

[2016-09-18 18:52] jasmainak commented on #149
Cool, do you know what is the actual url for the csv file in this case?

[2016-09-18 19:07] pavanramkumar commented on #149
I believe that @marquesVF downloaded the `communities.data` file and converted it to a csv manually.

Is it possible to use `wget`, fetch the dataset and use some `pandas` functions to import as data frame?

[2016-09-18 21:35] jasmainak commented on #149
maybe it's possible. Do you know how exactly the conversion to csv was done? We could try to script it if it's easy

[2016-09-18 23:23] #137 closed

[2016-09-20 19:01] pavanramkumar commented on #125
I also want to rename `poisson` to `poisson-softplus` and `poissonexp` to `poisson`. This will likely break a few examples, so it's important to go through all of the docs and fix them.

[2016-09-20 19:05] pavanramkumar commented on #1
We also need to add a description of
- group Lasso
- Tikhonov regularization

[2016-09-20 19:06] pavanramkumar commented on #149
I don't know but did you try whether `pandas.read_csv()` can directly read the `communities.data` file?

[2016-09-20 19:23] pavanramkumar commented on #140
fixed by 8907dfdc0435ad1e791a4c5e828d2be88a464763

[2016-09-20 19:23] #140 closed

[2016-09-20 20:54] jasmainak commented on #149
yeah I tried that already but no luck

[2016-09-20 20:55] jasmainak commented on #125
sounds good

[2016-09-20 21:24] #139 closed

[2016-09-20 21:59] pavanramkumar commented on #58
can we close this if we solve #98 ?

[2016-09-20 23:52] jasmainak commented on #58
yes!

[2016-09-21 00:10] pavanramkumar commented on #98
It appears that each estimator or classifier in `scikit-learn` comes with a `score` function which only accepts `Xtest` and `ytest`. This means I cannot call `score()` with `method='deviance'` or `method='pseudo_R2'`.

One workaround to make `GLM.score()` compatible with pipelines is to have a parameter at initialization called `scorer` which can be set to `deviance` or `pseudo_R2`. This can then

[2016-09-21 09:27] jasmainak commented on #98
@pavanramkumar you can have additional arguments to `score` of course. Do you mean you want to be able to use both methods for cross-validation and grid search? I think in that case, we should probably have a file called `metrics.py` which has these two scoring functions:

[code]

and the `score` method for `GLM.score()` by default could be either `deviance` or `pseudo_R2` whatever you like.

[2016-09-21 13:06] pavanramkumar commented on #98
i wrote it like this, so `GridSearchCV` can use `scoring=None`:

[code]

[2016-09-21 14:02] jasmainak commented on #98
okay, sounds good to me. Only thing, I would be more explicit and call it `scoring_method` instead of `scorer`

[2016-09-21 19:10] #98 closed

[2016-09-21 19:13] #58 closed

[2016-09-21 21:52] pavanramkumar opened #153 "estimator check"
I was looking at `scikit-learn-contrib` for the future and came across a helpful test for whether our estimator passes `scikit-learn`'s standards for what should be an estimator.

http://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

It seems like we need to write `set_params()` method.

[2016-09-21 22:16] pavanramkumar opened #154 "demonstrate group lasso with example"
http://genes.mit.edu/burgelab/maxent/ssdata/MEMset/

[2016-09-21 22:44] jasmainak commented on #154
also tikhonov maybe?

[2016-09-21 23:36] pavanramkumar opened #155 "demonstrate Tikhonov with example"

[2016-09-22 14:21] #147 closed

[2016-09-22 14:23] #125 closed

[2016-09-23 02:06] pavanramkumar commented on #43
I think it will be useful to consider the principles of semantic versioning for current and future releases: semver.org

[2016-09-28 22:07] themantalope commented on #104
I can start working on this during the weekend.

[2016-09-30 20:44] pavanramkumar opened #157 "pass scikit-learn estimator test"
every `scikit-learn` compatible estimator should have certain methods.
http://scikit-learn.org/stable/developers/contributing.html#rolling-your-own-estimator

one of them is `set_params()`.

We need a PR that
- implements `set_params()`
- modifies tests to include the `scikit-learn` estimator test: http://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

[2016-09-30 21:30] pavanramkumar commented on #157
@themantalope is working on this

[2016-10-03 21:57] themantalope opened #158 "Rewrite GLM as GLMCV: a separate class for regularization path"
Currently the`GLM` object does not return the proper variable types at various stages of the `sklearn GridSearchCV` lifecycle. I'll start with some of the issues I have had and the solutions that I worked on thus far on my forked version of the project.

1) `GLM` object did not have a `set_params` function.

At line 180 of `pyglmnet.py` I added the following code:

[code]

This method is required

[2016-10-03 22:13] themantalope commented on #158
2) Assumption that the `self.reg_lambda` property will always be a `list` or `numpy.ndarray`

In the `GLM` object's `fit` method, the lambda parameters are used to fit the model as a loop. However, during the `GridSearchCV` fitting procedure, only one parameter is fit and scored at a time (this is to allow for parallel fitting during the grid search). For example if one were to use the `GLM` objec

[2016-10-03 22:35] themantalope commented on #158
3) `GLM` object's score method returns an array

`GridSearchCV` expects that the score function returns a scalar, since the general pattern of the `GridSearchCV` is to set parameters, train the model given the parameter set and data and return one score for model/parameter comparison. Currently, the `GLM` object's `score` function returns an array of scores (for the given lambdas). A _very_ hackis

[2016-10-03 22:45] pavanramkumar commented on #158
@themantalope thanks a lot for looking at this carefully!

To answer your questions one by one:

1) The `set_params` function looks great as you've written it. Should be ready to merge once you submit a PR.

2) I like the idea of using the `@property` for the future. In the interest of readability, I'd suggest for now:

[code]

3) It' a known issue that `glm.score()` returns a vector of scores, on

[2016-10-03 23:00] themantalope commented on #157
I implemented the `set_params` function but I'm still having issues when running `sklearn.utils.estimator_checks.check_estimator` function.

Example output:
[code]

From the sklearn documentation, it's failing at this part of the `check_estimator` function:

[code]

[2016-10-03 23:37] themantalope commented on #158
@pavanramkumar

Using the sliced estimator doesn't work. I'm getting an error when running a script as such:

[code]

[2016-10-03 23:49] pavanramkumar commented on #157
I see, yes, it seems like `check_estimator` doesn't like us changing `reg_lambda` within `__init__`.

One simple fix could be that we set the default as:
`np.logspace(np.log(0.5), np.log(0.01), 10, base=np.exp(1))`
and then deal with list vs. array checks inside `fit()`.

Can you try if this works?

[2016-10-03 23:53] themantalope commented on #157
I had tried that before and got a very opaque error:

[code]

[2016-10-03 23:58] pavanramkumar commented on #157
So you tried changing: https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L130 to `reg_lambda = np.logspace(np.log(0.5), np.log(0.01), 10, base=np.exp(1))`

and https://github.com/pavanramkumar/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L136 to `self.reg_lambda = reg_lambda` ?

[2016-10-04 00:17] pavanramkumar commented on #158
Did you try running `GridSearchCV` on an estimator with `reg_lambda = [0.1]`? This will create an object that will return a scalar for `score()` and thus `GridSearchCV` may not complain. But I'm not sure.

In general, it seems that `GridSearchCV` is built for parallel search and doesn't work well for estimators with a regularization path.

See this `scikit-learn` thread:
https://github.com/scikit-

[2016-10-04 00:21] themantalope commented on #157
Yes, that is correct.

[2016-10-04 14:29] themantalope commented on #158
Right - basically if you set the ```python self.reg_lambda``` value to be a list of length one then only one score is returned, which can be fixed by the solution I [propsed](https://github.com/pavanramkumar/pyglmnet/issues/158#issuecomment-251247161). I think the error I was getting from using the sliced estimator was because the sliced estimator hadn't been fit yet. Perhaps one way around that w

[2016-10-04 14:52] cxy7452 opened #159 "probit link function"
Great work!!

Just wondering if there's any plan in implementing the probit link function? We're looking for python glm that supports group lasso with probit link, and it seems that your package is really close to it..!

[2016-10-04 19:04] pavanramkumar commented on #157
Can you give me push access to your fork (add me as collaborator)? I'm a bit busy until Thursday but I can take a look afterwards.

[2016-10-04 19:36] pavanramkumar commented on #158
The broad issue is that `GridSearchCV` is inherently parallel whereas warm restarts is inherently serial, i.e. the initialization for the subsequent value of `reg_lambda` depends on the solution with current value of `reg_lambda`.

I believe that the `scikit-learn` devels have worked around this issue by breaking it up into separate use cases.

- They don't offer warm restarts in the `fit()` metho

[2016-10-04 19:41] jasmainak commented on #158
I skimmed through the discussion quickly, so let me know if I missed anything. I don't think we should worry about making it compatible with `GridSearchCV`. As long as it works with `cross_val_score` I think we're fine. Scikit-learn has xxxxCV objects do deal with such situations. Like this one: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html.

[2016-10-04 19:41] pavanramkumar commented on #159
Hey @cxy7452 thanks for the vote of confidence! Yes, adding more link functions and increasing the capacity to meet what `statsmodels` offers is an important priority.

Right now, we are a bit resource crunched since we are focusing on an 0.1 PyPI release for Oct 31. This will be one of the first features we build for 0.2.

In the mean time, let me know if you'd like to make a pull request yoursel

[2016-10-04 19:44] jasmainak opened #160 "setting the random state"
I noticed that we set the seed using `np.random.seed`. This is not good as it sets the seed globally. Nested calls will cause seed resetting even if not intended by the user. We should instead using np.random.RandomState ...

[2016-10-04 20:08] pavanramkumar commented on #158
@jasmainak Do you know the differences between `LassoCV` vs. `Lasso.path()` vs. `lasso_path`? Seems like they all do the same thing. In any case, our slicing solution already offers what `LassoCV` offers.

@themantalope In practice I think that `GridSearchCV` is never used with `Lasso` and `ElasticNet` because the warm restarts option provides better solutions. `LassoCV` and `ElasticNetCV` provide

[2016-10-05 07:34] jasmainak commented on #158
I think `lasso_path` is mostly for plotting in the same spirit as `validation_curve` from the `sklearn.learning_curve` module. I'm not exactly sure our slicing solution yet offers what `LassoCV` offers. What `LassoCV` does is that it accepts a `cv` object and does the cross validation internally with warm restarts. We don't accept `cv` objects as arguments yet.

I think we could in principle do sl

[2016-10-05 09:11] jasmainak opened #161 "coveralls -> codecov"
The analytics provided by these guys are much better: https://codecov.io/

You can see a diff with which lines lost test coverage and which lines gained test coverage etc.

[2016-10-05 09:14] jasmainak opened #162 "add zenodo"
Here is how to get zenodo to work: https://guides.github.com/activities/citable-code/

For whoever is bored :)

[2016-10-05 16:26] themantalope commented on #158
Just as a reference then, if one wanted to test a large number of `alpha` parameters for the `GLM` object, how should one do that given the current implementation scheme? Would you just iterate over `alpha` values and record the results? Perhaps we could bake that functionality somewhere into this package.

[2016-10-05 16:45] jasmainak commented on #158
You want to test large number of `alpha` values with warm restarts for different regularizations?

[2016-10-05 16:49] pavanramkumar commented on #158
I fear that currently there is no easy way to do this.

- Doing warm restarts on two variables (`reg_lambda`, `alpha`) is going to involve nested for loops through these paths, along with decisions about how to evolve the path.

- Doing grid search on `reg_lambda` and `alpha` will require a rewrite of `fit()` that forces `reg_lambda` to be scalar.

In my personal experience, warm restarts finds be

[2016-10-05 18:12] jasmainak commented on #158
isn't this already possible?

[2016-10-05 18:14] jasmainak commented on #158
oh, my bad. We don't have set_params ...

[2016-10-05 18:27] pavanramkumar commented on #158
@jasmainak even if we have `set_params`, we will have some issues. in particular, will work only if we have sliced estimators passed into `GridSearchCV`. this is awkward because to slice, we currently need to call `fit()` which is strange to do first if someone wants to run a formal grid search. see this comment further above:
https://github.com/pavanramkumar/pyglmnet/issues/158#issuecomment-25124

[2016-10-05 18:30] jasmainak commented on #158
why slice? can't you just initialize it with a single reg_lambda?

[2016-10-05 18:33] pavanramkumar commented on #158
yes, in fact i suggested that to @themantalope https://github.com/pavanramkumar/pyglmnet/issues/158#issuecomment-251263634 but apparently there were some issues.

i'm going to take a more detailed look at all this on friday.

[2016-10-05 18:35] pavanramkumar commented on #162
I want to try to submit here: http://joss.theoj.org/ after the 0.1 release. Seems like a new community worth supporting. They peer review your code and you get a DOI which is indexed by google scholar

[2016-10-05 18:36] jasmainak commented on #158
Sorry for missing so much discussion ...

okay after some thinking, I fear that we should create a new object -- maybe `GLMCV` -- for grid search to work with warm restarts. We shouldn't rewrite the `fit` I think. `GLM` object is for a different purpose. I think that should be in milestone 0.2 or later ... if we can make it play nicely with `GridSearchCV` for now, we're good I'd say.

[2016-10-12 21:45] themantalope opened #163 "Add negative binomial link function"
Just putting this up as a potential enhancement.

[2016-10-12 21:47] themantalope commented on #158
I agree with @jasmainak, the ideal object would be `GLMCV`, similar to what the sklearn ElasticNetCV object is. Let's either close this issue or change it to something like 'add glmcv object'.

[2016-10-13 22:43] pavanramkumar commented on #157
@themantalope I'm close to passing the scikit-learn estimator test.
- I assigned `reg_lambda` as a scalar in the `__init__()` method
- I made `set_params()` return `self`.

There are no mystery bugs any more, but `fit()` complains that `reg_lambda` is a scalar and therefore not iterable.

It seems that the long term fix is clear: we need two classes `GLM()` and `GLMCV()`.
- `GLM()` should accept o

[2016-10-14 01:58] themantalope commented on #157
@pavanramkumar hmm, I tried those things on my branch but I was still getting weird errors. I can take another look.

I agree, `GLMCV` should be its own class, and leaving it for now is OK. I will start working on it for the 0.2 release.

[2016-10-14 19:59] pavanramkumar commented on #157
@themantalope thanks, i pushed some of my changes to your fork. i made a separate branch called `estimator_test`. you can choose to merge those changes if they help.

[2016-10-14 21:52] pavanramkumar commented on #161
solved by af6162f60fb5329559e3c358c3501afeddb2c4e2 and 1c719b99b7a0951b2737c11a63ad79809f0173c7 but the badge is not displaying the coverage percentage.

[2016-10-14 21:53] themantalope commented on #157
Ok, mine is also working without any ambiguous errors, but it's still having problems with the expectation that `reg_lambda` should be some kind of iterable.

From what I can tell, the `check_estimator` function does not like when the default value for an object's property is some kind of iterable type, which is right now directly at odds with how the `GLM` object is designed. Perhaps it would be

[2016-10-14 22:00] pavanramkumar commented on #157
Hey @themantalope yes, it's simply that the way `GLM()` is written, `fit()` iterates through all values in `reg_lambda` which it expects to be a list. `check_estimator` wants all parameters to be scalar because otherwise it's not compatible with `GridSearchCV`.

I have a good sense of exactly what to do next to write `GLM()` and `GLMCV()` but need to spend the limited time ahead on tackling issues

[2016-10-14 22:03] themantalope commented on #157
Yeah, that's a good idea.

[2016-10-14 22:09] pavanramkumar commented on #161
solved by f60435b4a7f32fc380041ea7d8e2f045821bb091

[2016-10-14 22:09] #161 closed

[2016-10-14 22:22] themantalope commented on #149
I was able to get `pandas.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data")` to work on my machine, but it looks like the csv file has been included as part of the project now anyways. Should probably close this issue.

[2016-10-14 22:39] #160 closed

[2016-10-14 22:43] pavanramkumar commented on #153
related to #157 and #158

[2016-10-14 23:21] pavanramkumar commented on #66
getting back to this again @jasmainak

seems there's no easy way other than to make a separate method called `predict_proba()` just for `multinomial`.

[2016-10-15 10:19] jasmainak commented on #66
@pavanramkumar the `predict_proba` method would predict probabilities instead of class labels, no?

[2016-10-15 10:26] jasmainak commented on #157
I was actually looking if there was a WIP code somewhere so that I could help but it seems that all the WIP code is private. @themantalope could you make a PR if you already have some code? It's always a good idea to make a PR early ...

[2016-10-18 22:17] themantalope commented on #154
What exactly is the task in this case? I'm not familiar with this dataset, do you know if there is a paper associated with the data?

[2016-10-18 22:23] themantalope commented on #8
What is the status of this issue? Also, just in general I have had less bugs and better control when calling scripts from python using the `subprocess` library.

[2016-10-19 03:45] #66 closed

[2016-10-19 04:27] pavanramkumar commented on #154
@themantalope Section 5 in this paper describes the data: ftp://ftp.stat.math.ethz.ch/Manuscripts/buhlmann/lukas-sara-peter.pdf

The task is to apply `pyglmnet`'s group lasso feature to this dataset as an illustrative example. see example docs here: http://pavanramkumar.github.io/pyglmnet/auto_examples/index.html

[2016-10-19 07:51] jasmainak commented on #149
hmm ... I think you cannot expect users to go looking for the `.csv` file in the github repo. Often the user will just click on download script and run it. If you could get the URL to run, then can you make a PR to fix it? Thanks!

[2016-10-19 13:59] pavanramkumar commented on #149
@jasmainak I think it makes sense now to have a folder called `datasets/` where the csv files live. I will be adding more csv files for other examples shortly, so it will indeed make sense to have a dataset loading API. We just need `datasets/datasets.py` with a couple of useful functions.

Use case could be as simple as
[code]

Under the hood, the function needs to read in with pandas and convert

[2016-10-19 15:12] #47 closed

[2016-10-19 15:14] pavanramkumar commented on #158
@themantalope `GLMCV()` can inherit from `GLM()`. In anticipation of tomorrow's meeting, I made a little inheritance demo: https://gist.github.com/pavanramkumar/cdc8b9820392b62c3921c03cd3d1a896

We just need to decide
- which parameters/ internal variables are inherited as is
- which new parameters need to be in `GLMCV()`,
- and which ones need to be overwritten.

Then it will be straightforward t

[2016-10-19 15:24] jasmainak commented on #149
@pavanramkumar dataset fetching can be quite a bit of work, so I was trying to avoid going in that direction for now. You have to decide where the data is fetched -- which would probably be configured by the user -- so you would have to save the configuration somewhere, if it has been fetched correctly so you verify the download hash etc etc. But I agree in principle that we should go in that dire

[2016-10-19 15:45] pavanramkumar commented on #149
@jasmainak sure, that's for `version 0.2` but i think a more proximal version would involve:
- provide the csv files in `datasets/`so that they are available within the repo when the user clones `pyglmnet`.
- provide very simple `datasets.load_*()` methods for them to get started.

[2016-10-19 15:53] jasmainak commented on #149
@pavanramkumar it's okay to add csv files if it's a couple of kilobytes. The moment, you go into MBs, you cannot remove it any more because you will basically double the size of the file in your repo when you remove it. Again, depends how much you want to limit the size of your repo. mne-python is 11 MB to clone as far as I remember ... and that includes many small files in the test folders. Right

[2016-10-19 16:50] pavanramkumar commented on #8
@themantalope I'm going to start work on this now.

Looking to build a `benchmarks/benchmarks.py` which accepts a list of `environments`, `distrs`, and other `params` and returns a benchmark data frame.

Typical use case would be:

[code]

[2016-10-19 16:51] marquesVF commented on #149
I applied some data pre-processing on the `communities.data` (removed some rows with missing values and removed some columns) before creating the csv file. I think the ideia of a `datasets` class and a `datasets` folder (containing minimal versions of csv files) is a good ideia for testing and documentation.
As @jasmainak  said, as longs as those csv files individually stay a couple of KB.

[2016-10-19 17:05] pavanramkumar commented on #149
@jasmainak good points! @marquesVF thanks!

I checked that the current csv file is ~300 KB but we are going to have a couple more csv files for some examples I am working on.

What about the following as a set of tasks of `version 0.1`?
- make a separate repo called `pyglmnet-datasets`
- write some version of `wget` that fetches the data
- apply those to examples

We can add hash checking etc. in

[2016-10-19 17:24] pavanramkumar opened #166 "transfer ownership to glm-tools organization"
There are several long term advantages to moving this repo out of my personal account, into an organization. I think it's good to do this before the first release, so that users are not confused in the future.

If not, I will transfer it to a new github organization called `glm-tools`. As a consequence:
- the repo's new home will be at `http://github.com/glm-tools/pyglmnet`.
- the `gh-pages` assoc

[2016-10-19 18:19] daniel-acuna commented on #166
I think it would take credit out of your effort and i think you need it for this job season at least. do it next sem.

[2016-10-19 20:43] marquesVF commented on #149
I agree with that and I can work on this. The `wget` method would be included in the `Makefile` as a new target.
The new repo would belong to whom? (#166)

[2016-10-19 22:18] jasmainak commented on #149
okay, if you want to share the dataset from another location, you might want to check the license conditions or check with the authors if they are okay with such resharing (if no such license exists) ...

what's the rationale behind hosting it in a separate repo vs fetching it directly from the source?

[2016-10-19 22:20] jasmainak commented on #166
+1 from my end. I agree completely

[2016-10-19 22:23] themantalope commented on #166
Sounds like a good idea.

@daniel-acuna if @pavanramkumar ends up submitting the library to a journal for review, wouldn't that be just as effective if not more?

[2016-10-20 03:29] daniel-acuna commented on #166
Oh its a great idea but not yet I would say. Of course publishing it would even better :)

[2016-10-20 14:04] pavanramkumar commented on #166
Thanks for all your input. I think credit assignment is still unambiguous from commits and the way I write my job documents :)

Also, I plan to submit pyglmnet to joss.theoj.org which provides a quick and painless peer review process with DOI. Ideally it will be published before the end of the year.

So I will make the transfer by tomorrow, Oct 21.

[2016-10-20 14:09] pavanramkumar commented on #149
@marquesVF thanks for taking this on! I'll let you know as soon I've transferred the repo. You could ideally work on it this weekend.

@jasmainak good point about license to redistribute. Let me check. Advantage is preprocessing.

[2016-10-20 16:27] pavanramkumar commented on #154
@themantalope is working on this

[2016-10-20 22:07] pavanramkumar commented on #166
the move seems to have been largely successful!

still need to work out exactly how to properly transfer:
- circle CI
- gitter channel

circle CI would be more urgent so that we can continue updating documentation seamlessly

[2016-10-21 03:23] pavanramkumar commented on #166
figured out circle ci. i think this issue can now be closed.

[2016-10-21 03:23] #166 closed

[2016-10-21 03:30] pavanramkumar commented on #149
@marquesVF you can now go ahead with the dataset fetcher implementation. what about following @jasmainak 's suggestion of writing a fetcher instead of hosting third party data on a `pyglmnet-datasets` repo?

you can follow the ideas here as closely as possible: http://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_mldata.html#sklearn.datasets.fetch_mldata

so you would create a f

[2016-10-23 13:06] jasmainak commented on #162
You get a DOI with zenodo as well. The benefit of zenodo is that you get a new DOI with every release (I think), so basically new contributors also get credit. This is one of the biggest problems of publishing software -- how to give credit once you have already published the work. Numpy paper has 3 authors but clearly many more people have contributed to making it a successful project.

I don't r

[2016-10-24 15:53] #8 closed

[2016-10-24 16:58] marquesVF commented on #149
I'm having problems with mldata.org registration in order to upload the dataset. There's any other online data repository?

[2016-10-24 17:04] pavanramkumar commented on #149
@marquesVF why are you trying to upload the dataset? what i meant is:
- make a script called `datasets.py`
- write a class `Datasets` inside the script
- the class should have a function `fetch_community_crime_data()`
- `fetch_community_crime_data()` should use `wget` etc. to download the raw data from the original source (`https://archive.ics.uci.edu`) and then preprocess it to return `X`, `y` wh

[2016-10-24 17:22] marquesVF commented on #149
Oh. My bad. I misunderstood .
Alright then. I gonna work on that soon.

[2016-10-28 17:33] pavanramkumar commented on #149
@marquesVF i created a module called `datasets.py`

https://github.com/pavanramkumar/pyglmnet/blob/50e4ca34300e6d61bd42fe7d26d684f5e01dd6aa/pyglmnet/datasets.py

(this will be merged soon)

your dataset fetcher can be a function in `datasets.py`. in my experience ,`subprocess` with `curl` worked better then `wget`.

[2016-10-28 19:53] themantalope opened #170 "_prox function returns nan when a group of beta parameters are set to zero"
Currently, the update part of the`_prox` function is implemented as follows for the the case of group lasso:

[code]

If a group of betas are zero (or very close to zero) then the l2 norm will be zero, resulting in `nan`s in the `beta` array. I've fixed this by indexing updating on the nonzero indicies of beta.

[2016-11-07 22:59] pavanramkumar commented on #69
as noted by @jasmainak in #169, the current version of Tikhonov example must move to the `spykes` repo in place of another example that does not require `STRF()` utilities of `spykes`.

[2016-11-07 23:53] pavanramkumar commented on #155
closed by #169

[2016-11-07 23:53] #155 closed

[2016-11-14 20:38] aribenjamin opened #174 "Int check in group reg"
In line 545 (group regularization), should

[code]
read:
[code]

Currently an error is raised if all values are ints, but isn't if just one is floating point.

[2016-11-16 19:51] pavanramkumar commented on #174
thanks @aribenjamin -- latest PR #173 fixes this

[2016-11-16 19:51] #174 closed

[2016-11-16 19:51] #149 closed

[2016-11-16 19:52] #154 closed

[2016-11-16 20:02] themantalope commented on #43
This still needs to be done, correct? I can set that up if needed.

[2016-11-16 20:26] themantalope commented on #106
What is the state of this issue? Have bullet points 2 and 3 in the first comment been addressed?

[2016-11-16 20:42] pavanramkumar commented on #43
Will let you know once docs are reorganized

[2016-11-16 20:42] pavanramkumar commented on #106
Working on those issues now

[2016-11-16 20:47] pavanramkumar commented on #23
implemented for `multinomial`. still need to do for `binomial` and a future implementation of `probit`

[2016-11-17 20:15] pavanramkumar commented on #163
there are four different variants of Poisson regression -- all for count distributions:

- Quasi-Poisson (which allows variance to be proportional rather than equal to the mean)
- Zero-inflated Poisson (to allow for more zeros than account for by a Poisson distribution)
- Zero-truncated and hurdle models (another way to deal with more than expected zero observations)
- Negative binomial

All metho

[2016-11-17 21:33] themantalope commented on #163
Thanks! I'll start taking a look.

On Thu, Nov 17, 2016 at 2:15 PM, Pavan Ramkumar <notifications@github.com>
wrote:

[2016-11-18 15:08] pavanramkumar commented on #43
I found some instructions: https://www.codementor.io/python/tutorial/host-your-python-package-using-github-on-pypi

I'll setup PyPI live and test accounts and let you know if you'd like to take over the rest.

[2016-11-18 15:41] themantalope commented on #43
Sure. I've published before on PyPI before, so I figured I would volunteer!

[2016-11-18 18:27] #106 closed

[2016-11-18 18:28] #1 closed

[2016-11-18 18:31] pavanramkumar commented on #43
hey @themantalope i've now done my bit to improve the tutorials and docs. you can feel free to go ahead with the PyPI process.

let me know once you're done and tested. we need to edit the README and docs to say that `pyglmnet` is pip installable!

[2016-11-18 19:07] pavanramkumar commented on #43
let's follow the semantic versioning convention: http://semver.org/
according to this, the first release would be `0.0.0`.

[2016-11-18 19:21] themantalope commented on #43
ok, I should be close. just working out the kinks with `twine`

[2016-11-18 19:28] pavanramkumar commented on #43
according to this thread: http://stackoverflow.com/questions/3728626/what-to-use-as-an-initial-version

i feel like we should start at 1.0.0

[2016-11-18 19:53] themantalope commented on #43
Ok, I'm setting up a PR that should bring everything needed into the master repo. Will also send you an email with some other instructions.

[2016-11-19 00:23] pavanramkumar opened #180 "python future compatibility"
Many of the changes at this stage should be straightforward. A useful checklist is here:
http://python-future.org/compatible_idioms.html

[2016-11-19 00:25] #43 closed

[2016-11-19 01:04] jasmainak commented on #43
hmm ... I'm more used to starting with `0.1` in the python world ...

[2016-11-21 23:25] zhaoy271 opened #181 "Probable wrong gradient in linearized Poisson case"
Hi,
I think the gradient (perhaps Hessian too) of linearized Poisson case is probably wrong in the cheatsheet. Eta in the second sum of gradient wrt beta_0 and beta_j should be exp(eta).

[2016-11-22 00:14] pavanramkumar commented on #181
@zhaoy271 thanks for this! spotted the bug. Will patch soon

[2016-11-22 16:58] jasmainak commented on #181
Merge if you're happy

[2016-11-22 18:35] #181 closed

[2016-11-22 18:36] pavanramkumar commented on #181
@zhaoy271 bug is patched now, both in the docs and the code. thanks for your careful eye! let us know your experience and reach out for any other fixes.

[2016-11-22 18:38] zhaoy271 commented on #181
@pavanramkumar cool! I'm very interested in the linearized Poisson. Do you have any reference for it?

[2016-11-22 18:40] pavanramkumar commented on #181
@zhaoy271 no refs because it's an in-house hack :) i've thought of it as a way to prevent the Poisson link and gradients from exploding in rare cases when `beta` is badly initialized.

[2016-12-15 21:52] aribenjamin opened #183 "Incorrect bias with large regularization; difference with R's glmnet"
__Short version:__ pyglmnet doesn't work with high regularization but a GLM in Keras does. Both give negative psuedo-R2 scores for all neurons in the S1 set. R's glmnet gives positive scores, and pyglmnet gives different results when running on R's regularization path.
___
A GLM should be able to predict the mean with high regularization, and find a pseudo-R2 value of 0. I'm not able to get pyglmn

[2017-01-06 00:16] aribenjamin commented on #183
This is resolved! The key error was that, above,

[code]
should be
[code]
___
I learned a few lessons diagnosing this.
1. The results are very sensitive to `tol`, ` learning_rate`, and `max_iter`. They should be optimized on any implementation.
2. `eta=2' is the default value and works well.
3. Initializing the value of all `beta`s doesn't affect the result too much, even when initialized to the f

[2017-01-06 00:16] #183 closed

[2017-01-30 20:58] tristanstoeber opened #185 "Todo: Allow to pass arbitrary regulizer object"
Problem: Someone wants to regularize one group of parameters with L2 and the other group with L1.
Possible solution: Allow user to pass an arbitrary regulizer object, which specifies alpha values for each group

[2017-01-30 21:24] jasmainak commented on #185
why will a list not do here?

[2017-02-14 21:25] tristanstoeber commented on #170
My problem seems related to the closed bug report. I am using pyglmnet '1.0.1'
My design matrix has floats and no NaNs, same for my y (which is spikes, so 0. and 1.) . But when I do the fit, both beta and beta0 are only nans.

`glm_poissonexp = pyglm.GLM(distr='poisson', verbose=True, alpha=1., group=groups, solver='cdfast')`

groups looks like [0.,0., ..., 1., 1.,1.].

Any idea where the bug may

[2017-02-14 22:24] jasmainak commented on #170
okay I see. PR is welcome. If you don't have time to submit a PR, can you share a small script to reproduce?

[2017-02-14 22:35] pavanramkumar commented on #170
thanks @tristanstoeber i've reopened the issue. i suspect the fixing PR only tested it for the `batch-gradient` solver. i'll check soon.

[2017-02-16 01:17] pavanramkumar commented on #162
closed by 070051b913b07c8839c14e4071e2054953989148

[2017-02-16 01:17] #162 closed

[2017-02-19 22:32] pavanramkumar opened #188 "`set_params()` method for aiding warm restarts"
comparable to: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html#sklearn.linear_model.ElasticNet.set_params

useful for applications like #51

[2017-02-19 22:48] jasmainak commented on #188
should we tag some issues for the sprint? Ideally if we tackle one item each day, we can get 10 issues done ...

[2017-02-19 22:50] pavanramkumar commented on #188
i'm doing this with the projects feature: https://github.com/glm-tools/pyglmnet/projects/1

[2017-02-21 18:36] thenomemac opened #189 "Alternate distributions: Gamma Family"
Thoughts on integrating alternate loss distributions Gamma/Exponential. I know these losses aren't implemented in GLMNet but it could be a nice addition to differentiate this library. And I see no reason why they shouldn't work?

[2017-02-21 20:21] pavanramkumar commented on #189
@thenomemac yes, we do have plans to add more exponential family likelihood / link functions. you're welcome to submit a pull request for gamma. we have an outline of what it would take to add a new distribution: http://glm-tools.github.io/pyglmnet/requests.html

[2017-03-27 22:43] pavanramkumar commented on #170
hey @tristanstoeber we're working this week to exclusively improve unfixed issues for pyglmnet. i've tried to reproduce your group lasso issue with a sparse simulated dataset, but I haven't experienced any `NaN` issues.

you can try running it like so:

[code]
a couple of further comments about your code above:

- note that group IDs start from `(1, ..., n_groups)`. if a particular parameter's gro

[2017-03-28 07:34] tristanstoeber commented on #170
Hey Pavan,

thanks for looking into this. Your code snippet runs without error on my machine and the output is:
Looping through the regularization path
Lambda: 0.5000
	Converged. Loss function: -20.23
	dL/L: 0.000098

Lambda: 0.3237
	Converged. Loss function: -20.70
	dL/L: 0.000600

Lambda: 0.2096
	Converged. Loss function: -21.08
	dL/L: 0.000881

Lambda: 0.1357
	Converged. Loss function: -21.38

[2017-03-29 05:14] jasmainak commented on #103
let's close this?

[2017-03-29 05:57] jasmainak opened #193 "add topics next to description page on github"

[2017-03-29 05:58] jasmainak opened #194 "use datalad to get datasets"
it's something to try for someone bored: http://datalad.org/

I can't seem to find it but datalad can be run on travis too. It's an app store for datasets.

[2017-03-29 19:17] #193 closed

[2017-03-29 19:52] pavanramkumar commented on #170
ok @tristanstoeber, keep us posted! we have two more days. gonna be hard to have the same level of focus after this week.

[2017-03-30 15:16] pavanramkumar opened #201 "add docstring to metrics.py"

[2017-03-31 16:46] pavanramkumar opened #202 "fix group_lasso examples"

[2017-03-31 19:24] pavanramkumar opened #205 "write test to compare outcome of different solvers"

[2017-03-31 19:56] timshell commented on #180
close? cc @pavanramkumar

[2017-03-31 20:29] pavanramkumar opened #207 "Alternate distributions: square root link for Poisson"
cc @teonbrooks

Look at the table here: http://blog.shakirm.com/2015/01/a-statistical-view-of-deep-learning-i-recursive-glms/

Ask me if you have questions!

[2017-03-31 20:31] pavanramkumar commented on #180
yes!

[2017-03-31 20:31] #180 closed

[2017-03-31 21:49] jasmainak opened #209 "optimization"
we should use vectorized operations., e.g., `np.einsum` or `np.dot` instead of `np.sum(x * y)`

[2017-04-13 13:59] daniel-acuna opened #210 "Integration with Spark"
Hey @pavanramkumar and @jasmainak, great work here!

I would like to extend this package to work with [Apache Spark](spark.apache.org). I am wondering if there is an easy way of combining two [GLM](https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L222) objects, one trained in one part of the data and another in another part of the data. That would make a map-reduce job very e

[2017-04-13 14:14] pavanramkumar commented on #210
Hey @daniel-acuna awesome initiative!

The `GLM()` object now fits the model for a single value of `reg_lambda` and stores the fit in (`self.beta0_`, `self.beta_`).

I believe if you wanted to implement the model to streaming data, you would warm-initialize the parameters for the new mini-batch with the parameters of the old mini-batch. This should be feasible and I would recommend doing it in a n

[2017-04-13 14:20] daniel-acuna commented on #210
I see that the API is much improved now!  I guess map-reduce would go beyond warm restarts. Any objection to just taking the average of `beta0_` and `beta_` from two `GLM` objects to merge them?
P.S. Sad to see `multinomial` go but I can see how it makes things more complicated. Spark has multinomial regression with ElasticNet regularization but I am really interested in the Tikhonov specification

[2017-04-13 14:32] pavanramkumar commented on #210
Oh because you'd fit the batches in parallel? I would try to follow the exact same conventions used in [mllib](https://spark.apache.org/docs/latest/mllib-linear-methods.html) and try not to change anything.

Regarding averaging `beta0_` and `beta_` from multiple parallel batches, I guess it is ok for a convex problem like GLM, but you see how this would be bad for non-convex problems. I'd recommen

[2017-06-20 23:41] jasmainak opened #211 "validation of labels"
We should validate the labels y during `fit`. For example, if it's `binomial` allow only 0 and 1 or only integers if it's `poisson` etc ...

[2017-06-21 01:00] jasmainak opened #212 "move 1 / n_samples"
We have 1 / n_samples all over the place. I think they can be easily refactored out of the functions to simplify the code.

[2017-06-22 10:25] jasmainak opened #214 "add link argument"
We can allow any link if we write the derivatives using the chain rule and make `_qu` return both the function and its derivative.

[2017-06-22 11:20] jasmainak opened #215 "throw error of `distr` not in known set of distributions"
Title says it all

[2017-06-22 15:52] pavanramkumar commented on #189
@thenomemac see PR #213. We're looking for an illustrative example for Gamma GLMs. Do you have suggestions?

[2017-06-22 15:58] pavanramkumar commented on #159
@cxy7452 we added a probit link here #208

[2017-06-22 16:30] #189 closed

[2017-06-22 16:50] jasmainak commented on #211
@timshell what are you doing these days? Perhaps something for you when you are bored?

[2017-06-22 20:27] thenomemac commented on #189
So Gamma would be used in Finance and Insurance for modeling things that
are "dollar" amounts since (as a general rule) long tail events cause
"amounts" to be heavily rightward skewed. Thus, gaussian loss will heavily
bias your predictions to a few outlier data elements. (think gamma is also
used in physics modeling?)

On Thu, Jun 22, 2017 at 12:30 PM, Mainak Jas <notifications@github.com>
wrote:

[2017-06-23 15:01] #212 closed

[2017-06-26 08:44] jasmainak opened #218 "test for hessian"
We should refactor the hessian out of the class and have test the same way we have for the gradients

[2017-06-26 13:58] jasmainak commented on #189
Thanks @thenomemac . After some thinking, maybe we can reproduce the plots in [this blog](http://seananderson.ca/2014/04/08/gamma-glms.html) since it doesn't need any data

[2017-06-28 23:44] jasmainak opened #220 "documentation in metrics.py"
We have some functions in metrics.py which are not well documented

[2017-08-04 15:57] jasmainak commented on #159
@pavanramkumar closing issue since this is taken care of

[2017-08-04 15:57] #159 closed

[2017-08-04 15:59] jasmainak commented on #157
Closing issue since we agreed that we will conform to scikit-learn standards only in spirit and getting the estimator checks to pass is a wormhole

[2017-08-04 15:59] #157 closed

[2017-08-04 16:01] jasmainak commented on #103
Closing as the issue is not active for more than a year

[2017-08-04 16:01] #103 closed

[2017-08-04 16:05] jasmainak commented on #158
I think this is taken care of thanks to https://github.com/glm-tools/pyglmnet/pull/200. @pavanramkumar feel free to reopen if something is not addressed

[2017-08-04 16:05] #158 closed

[2017-08-04 16:06] jasmainak commented on #153
We agreed we are not going down this path in https://github.com/glm-tools/pyglmnet/pull/190. Closing the issue.

[2017-08-04 16:06] #153 closed

[2017-08-04 16:08] jasmainak commented on #113
This is taken care of. Closing

[2017-08-04 16:08] #113 closed

[2017-08-04 16:14] jasmainak commented on #210
@pavanramkumar @daniel-acuna would this issue be a duplicate of https://github.com/glm-tools/pyglmnet/issues/136 ?

[2017-08-05 17:26] daniel-acuna commented on #210
#136 is about building on top of Thunder, which depends on Spark. #210 is more about building something  directly related to Spark. I would prefer the latter?

[2017-08-07 23:14] pavanramkumar commented on #210
Yes, I think #136 is low priority: Thunder is not as actively developed as it used to be.

[2017-08-27 16:37] pavanramkumar commented on #170
closing this since issue was not reproducible

[2017-08-27 16:37] #170 closed

[2017-08-27 16:41] pavanramkumar commented on #85
closing this since there are no plans to implement conjugate gradient descent

[2017-08-27 16:41] #85 closed

[2017-08-27 16:42] pavanramkumar commented on #97
closing this since we will track these issues while implementing a separate `MultinomialGLM()` class.

[2017-08-27 16:42] #97 closed

[2017-08-27 16:47] #23 closed

[2017-08-27 16:49] pavanramkumar commented on #136
closing

[2017-08-27 16:49] #136 closed

[2017-09-29 14:59] shearerp opened #221 "offset and/or weights for event rate analysis"
Poisson regression is very commonly used for [survival analysis](https://en.wikipedia.org/wiki/Survival_analysis). In this context, it is necessary to include the exposure time as a [log-offset](https://en.wikipedia.org/wiki/Poisson_regression#.22Exposure.22_and_offset) or via [weighting](https://stats.stackexchange.com/a/66878/11646). It appears that currently pyglmnet has neither option; the pac

[2017-09-30 18:20] jasmainak commented on #221
hmm ... interesting. So, if we provide an `offset` param which is subtracted during the `fit` and added during the `predict`, would that be it? Do you have time to help us?

[2017-10-05 23:32] shearerp commented on #221
I'm interested but wish I had a better sense of how this algorithm scales. There are a couple dozen half-implemented group lasso solvers that sort of work on small datasets, and I'm looking for the one really good one that can scale to my problem (millions of rows and thousands of predictors)

[2017-10-05 23:49] pavanramkumar commented on #221
@shearerp it's always great to hear about concrete use cases in the context of feature requests.

have a look at our readme page where a basic set of benchmarks is published comparing runtimes for 1000 samples x 100 features against scikit-learn, statsmodels, and R. we're slightly slower than scikit-learn and faster than statsmodels, primarily because we didn't want to prematurely optimize (cython

[2017-10-06 08:18] jasmainak commented on #221
Feel free to open a pull request. We are open to contributions

[2017-11-09 00:50] jasmainak opened #225 "fix cheatsheet"
Just noticed: [here](http://glm-tools.github.io/pyglmnet/cheatsheet.html) the exponential term is missing for logistic regression.

Also, we are not consistent on how we call the number of samples. It is `n` in the cheatsheet but `N` in the introduction

[2017-11-09 01:18] jasmainak commented on #65
I think this is related to https://github.com/glm-tools/pyglmnet/pull/226. You just need to use a smaller `learning_rate`

[2018-01-17 00:46] brianhhu opened #227 "Add pandas as dependency"
Currently the documentation only lists numpy and scipy as dependencies. I found that I also needed to install pandas (most likely for accessing the datasets), or the pip installation failed.

[2018-01-17 14:09] jasmainak commented on #227
yes, this is a problem of mismatch between the `1.0` and `dev` version. Ideally, we should have a documentation for both. I'll try to see later today if it's easy enough to do

[2018-02-09 19:36] Gibbsdavidl commented on #202
Using python 3.6 I get this error:

IPython 6.1.0 -- An enhanced Interactive Python. Type '?' for help.

In [1]: from pyglmnet import GLM
   ...: from pyglmnet.datasets import fetch_group_lasso_datasets
   ...:

In [2]: df , group_idxs= fetch_group_lasso_datasets()
---------------------------------------------------------------------------
TypeError                                 Traceback (most

[2018-03-25 01:19] jasmainak opened #228 "circle 2.0"
We should migrate our docs to circle 2.0 by august!

[2018-03-29 21:09] sjkoelle opened #229 "Handling sparse matrices"
Hi,

I am trying to run a linear model with group lasso regularization and sparse matrix input.

code (x is a sparse matrix, y a vector):

glm = GLM(distr='normal',group = groups)
glm.fit(x, y)

However, I get the following error.

output:
ValueError                                Traceback (most recent call last)
<ipython-input-171-41e58c90aadc> in <module>()
      2 glm = GLM(distr='normal',grou

[2018-05-14 16:17] krey opened #231 "LaTeX in the tutorial doesn't render"
The LaTeX in the tutorial doesn't render for me on Firefox or Chromium. I just see the raw tex.

[2018-05-25 17:49] cxrodgers opened #232 "Negative pseudo-R2 on the training set"
First off, thanks all for the amazing work that has gone into this package. I'm really excited to use this to analyze my data, it fills a big hole in the existing resources that are out there.

I'm using this to fit a Poisson GLM to explain spike counts using a design matrix with 750K rows and ~100 feature columns. A lot of the features are dummy binary indicators for categorical variables. For de

[2018-05-28 13:18] jasmainak commented on #232
hi @cxrodgers can you try lowering the convergence tolerance to see if it helps? I discovered some issues with the stopping criteria recently

[2018-05-28 16:26] cxrodgers commented on #232
Hi @jasmainak I think you are right that this is the issue, I think it reported convergence too early.

Lowering `tol` substantially improves the fit. However it also starts to run very slowly. Changing to solver='cdfast' makes it run much faster, and it also seems to make the result less sensitive to changes in `tol`. Is there any reason not to use 'cdfast'?

It seems my dataset is very sensitive

[2018-05-28 17:06] cxrodgers commented on #188
@pavanramkumar Was this ever implemented? I was thinking about making a simple change in my fork where the GLM.fit method would accept optional `beta0_hat` and `beta_hat` arguments. If provided, they would be used instead of np.random.normal() as the initial fit. Unless it was already implemented somewhere else, I will try to do this in my fork and see how it goes.

[2018-05-28 19:17] jasmainak commented on #232
I think the convergence criterion should be based on the loss, not on the scoring metric. However, I am indeed quite curious if we could use another stopping criteria. One option is to use the norm of the gradient, so you break the loop when the algorithm stops making progress. An advantage of this is that you do not need to compute the loss in every loop which in itself is expensive. Would you li

[2018-05-28 19:21] jasmainak commented on #188
yes, this has been implemented here: https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/base.py#L127. @pavanramkumar should we close this issue?

[2018-05-28 23:29] cxrodgers commented on #188
Oh I see, I'm using the pip version, which is older than that. In my version (1.0.0), beta and beta0 are not settable. I'll upgrade.

[2018-05-29 09:13] pavanramkumar commented on #232
@cxrodgers I'm happy that you're using this for your data.

I've now made a WIP pull request to update convergence criteria from using loss to gradient norm. It also has a fix for early / premature convergence.

As @jasmainak said above, it's faster than loss-based metrics because we don't need to explicitly compute the loss.

See #233

I'd be curious to know if this helps you achieve good fits wi

[2018-05-29 09:31] pavanramkumar commented on #188
Yes it's available from the github version and should make it into the next release. Closing.

[2018-05-29 09:31] #188 closed

[2018-05-30 16:32] cxrodgers commented on #232
Sounds great! I think we can close this issue because lowering the tolerance to 1e-6 (and raising the max number of iterations to 1e6) fixed this problem for me.

I'm interested in the new stopping criteria. I will give it a shot when I upgrade from the pip version to the github version.

Thanks!

[2018-07-23 16:45] lv10 opened #234 "Update README and examples to reflect 1.0.1.dev0 version consistently"
Running [example](https://github.com/glm-tools/pyglmnet#getting-started) as follows produces an attribute error when calling simulate() in the following line:
`y_test = glm.simulate(beta0, beta, X_test)`

[2018-07-25 04:37] jasmainak commented on #234
what version of pyglmnet are you using?

[2018-07-25 04:38] jasmainak commented on #231
close?

[2018-08-26 23:13] #231 closed

[2018-08-26 23:13] jasmainak commented on #231
closing due to lack of response

[2018-08-26 23:31] pavanramkumar commented on #234
- Make sure README directs users to pip install the dev version
- Update examples to reflect dev version's API consistently

[2018-08-26 23:37] jasmainak commented on #227
duplicate of #234

[2018-08-26 23:37] #227 closed

[2018-08-26 23:42] #214 closed

[2018-08-26 23:43] jasmainak commented on #214
closed as it is a rare use case

[2018-08-26 23:48] #135 closed

[2018-08-26 23:48] jasmainak commented on #135
closing issue. @hugoguh feel free to reopen if it's still relevant for you

[2018-08-27 00:05] pavanramkumar commented on #41
duplicate of #229

[2018-08-27 00:05] #41 closed

[2018-08-27 00:17] pavanramkumar opened #235 "Group lasso does not set any variables to zero"
[code]

Doesn't set a single group's coefficients to zero.
Issue reported by: `adityagc@cmu.edu`

[2018-08-27 01:37] pavanramkumar opened #236 "Have google scholar track zenodo"
See here: https://github.com/openjournals/brief-ideas/issues/132

[2018-08-27 01:41] pavanramkumar commented on #69
Let's also add dependencies to `README.md`

[2018-08-27 01:45] pavanramkumar commented on #138
not relevant anymore

[2018-08-27 01:45] #138 closed

[2018-08-27 02:34] jasmainak opened #239 "remove deprecation warnings"
We should remove deprecation warnings like this one:

[code]

[2018-08-27 02:38] pavanramkumar commented on #225
Fixed in docs

[2018-08-27 02:38] #225 closed

[2018-08-27 03:11] #228 closed

[2018-08-27 03:30] pavanramkumar commented on #220
closed by #240

[2018-08-27 03:30] #220 closed

[2018-08-27 03:31] jasmainak commented on #201
duplicate of #220

[2018-08-27 03:31] #201 closed

[2018-08-27 08:45] pavanramkumar opened #243 "Probit is still not passing tests for cdfast solver"
May be related to over/underflow. See #224

[2018-08-27 08:49] pavanramkumar opened #244 "Separate tests for dense and sparse betas"
In `test_glmcv()` we need to test both a dense (L2 like) and a sparse (L1 like) regime with different values of `alpha`.

[2018-08-27 08:50] pavanramkumar opened #245 "urlretrieve failing in python3.5"
`plot_community_crime.py` example failing because dataset cannot be fetched in python 3.5.

[2018-08-28 11:39] #245 closed

[2018-08-28 11:42] #215 closed

[2018-08-28 13:40] pavanramkumar commented on #243
To prevent overflow, use approximate gradient and hessian formulas.
See Eq. 17-20 here: https://pdfs.semanticscholar.org/0c03/0537919f09575b9f2c0a98c62f6571bdceee.pdf

[2018-09-04 05:30] pavanramkumar commented on #235
Should be fixed by #249

[2018-09-04 05:30] #235 closed

[2018-09-05 18:00] jasmainak opened #251 "remove duplicate readme"
It seems we have a README.md and a README.rst. This can get confusing. We should remove one of them.

[2018-09-05 19:36] jasmainak commented on #243
closed by #250

[2018-09-05 19:36] #243 closed

[2018-09-06 14:22] cxrodgers opened #254 "Installation command with python setup.py develop"
The README says to install with this command:
  python setup.py develop install

But I have always used this:
  python setup.py develop

Source:  https://avolkov.github.io/installing-python-packages-in-development-mode.html

At least for me, the command in the README did not work -- I got "ImportError: No module named externals.six" -- but `python setup.py develop` did work. For what it is worth,

[2018-09-06 15:34] jasmainak commented on #254
indeed @cxrodgers you are correct. Do you want to make a pull request to fix this.

ps: @pavanramkumar this is also probably the reason you were struggling with the installation the other day

[2018-09-06 16:51] cxrodgers commented on #254
@jasmainak I created the PR. Note that the same instruction appears in the Makefile but I don't understand Makefiles so I didn't make any changes there.

[2018-09-06 16:52] jasmainak commented on #254
closed by #255

[2018-09-06 16:52] #254 closed

[2018-09-06 16:53] jasmainak commented on #254
Oops I merged too soon then :) But yeah I think the `Makefile` should be modified as well.

[2018-09-07 04:06] pavanramkumar commented on #239
@jasmainak i think this is pretty simple. we just need to run `check_version` in `test_pyglmnet` before importing `cross_validation`, `KFold`, etc. want to take a stab at it?

[2018-09-07 06:35] jasmainak commented on #239
yep this issue is mine :) It's simple but requires iteration to get it working I think ...

[2018-09-07 19:24] jasmainak opened #256 "switch to pytest"
nosetest is now [going out of use](https://nose.readthedocs.io/en/latest/).

We should switch to pytest.

[2018-09-07 20:33] jasmainak commented on #144
@pavanramkumar do you want to look into this? I guess we could start from [miniconda image on dockerhub](https://hub.docker.com/r/continuumio/miniconda/) and then copy the install commands from travis or circle

[2018-09-09 01:06] pavanramkumar opened #258 "modern packaging and testing frameworks"
We should look into more standard structuring of the repo tree: https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure
And modern testing automation: https://tox.readthedocs.io/en/latest/

[2018-09-09 01:07] pavanramkumar opened #259 "MANIFEST.in"
For release management

[2018-09-09 01:08] pavanramkumar opened #260 "Release.rst"
For release notes

[2018-09-09 05:14] pavanramkumar commented on #256
addressed by #257

[2018-09-09 05:14] #256 closed

[2018-09-09 06:56] #232 closed

[2018-09-09 16:34] jasmainak commented on #260
actually this already exists: https://github.com/glm-tools/pyglmnet/blob/master/doc/whats_new.rst !

we just haven't been updating it ...

[2018-09-10 04:45] jasmainak commented on #194
not quite convinced anymore that this is worth investing time into. Closing but feel free to reopen if needed

[2018-09-10 04:45] #194 closed

[2018-09-11 07:25] pavanramkumar opened #265 "Recompute and publish benchmarks in README"

[2018-09-11 07:28] pavanramkumar opened #266 "Update installation instructions in README"
- separate installation instructions for developers and users
- separate installation instructions for git and pip versions
- test install instructions in docker / virtualenv / new device

[2018-09-11 17:36] jasmainak commented on #265
+1 although I would do it after `0.2` and before the paper. I think it will need some work ... and would be good to involve n > 2 people here

[2018-09-11 17:44] jasmainak opened #267 "group lasso example stuck"
This is what is leading CircleCI to fail and is related to #252

[2018-09-11 17:46] jasmainak opened #268 "add appveyor continuous integration"
The tests are now run only on Travis which is good for Linux. However, if we want to capture our Windows user base, we should also add appveyor. I'm tagging this as `0.3` as it's not so urgent I feel ...

[2018-09-12 06:59] #260 closed

[2018-09-13 21:00] geektoni opened #269 "GLM parameter random_state ignored"
I noticed that with `GLM` I cannot get consistent and replicable results even if I set the `random_state` parameter. Different run of the same code will produce always different results.

 I think that the problem can be found at this line: https://github.com/glm-tools/pyglmnet/blob/6763a9550fe87f1ab099db4f575a9e449e0b6a2d/pyglmnet/pyglmnet.py#L678
Since the `RandomState` object is never used to i

[2018-09-13 21:05] jasmainak commented on #269
indeed @geektoni do you want to help fix it with a pull request?

[2018-09-13 22:03] geektoni commented on #269
Sure! #270 contains a proposed fix.

[2018-09-14 21:34] jasmainak opened #271 "flake8 on tests"
The flake8 linter doesn't seem to be working on the test directory. @pavanramkumar did we disable it at some point? In any case, we should fix this as soon as possible ...

[2018-09-17 04:57] jasmainak commented on #269
closed by #270

[2018-09-17 04:57] #269 closed

[2018-09-17 06:37] pavanramkumar commented on #271
is this simply a case of adding this line to travis.yml:

[code]

seems to pass locally except for some docstring complaints

[2018-09-17 15:01] jasmainak commented on #271
I think the issue is that it's not complaining when there is a pull request. Try making a pull request where you make `flake8` errors in `tests/` and Travis does not complain ...

[2018-09-18 04:44] pavanramkumar commented on #267
I'm trying to run the group lasso example on the bioinformatics dataset (16k x 1k features) locally but `GLMCV` is extremely slow.

[2018-09-18 15:22] jasmainak opened #272 "gitter badge"
We should link to the gitter channel on the readme: https://gitter.im/pavanramkumar/pyglmnet

[2018-09-19 04:17] jasmainak opened #273 "change example on community crime dataset"
It seems the URL for the community crime dataset is broken. So, we need to replace this with another example. Maybe something like MNIST may do ...

[2018-12-05 10:45] geektoni commented on #163
Hi there! I'm reviving this issue because I wanted to know if this feature is planned to be released in the future (or, better, if somebody is currently developing it) or not. I am currently working on a project which requires it and it would be really nice to know that it will be available in your framework :)

[2018-12-05 23:23] jasmainak commented on #163
@geektoni which of the link functions are you most interested in? Unfortunately, I'm crazy busy these days. However, I am happy to guide and review a pull request if someone has the motivation to implement it :)

[2018-12-06 13:30] geektoni commented on #163
@jasmainak I was interested in the Negative Binomial. If nobody is working on it at the moment I think I'll give it a try to add it as a new noise model. This is not quite my field, but let's see what happens. Apart from the paper and code examples outlined above, are there any other suggested references I should know before starting designing/implementing it? :)

[2018-12-06 21:52] jasmainak commented on #163
not me, @pavanramkumar is the expert on GLMs. Maybe he can suggest something :)

What I would suggest is to first write down the equations in the [cheatsheet](http://glm-tools.github.io/pyglmnet/cheatsheet.html). Once you have the log likelihood and the gradients, it should be straightforward to plug them into `pyglmnet`. You can first update the tests for the gradients and then write code to make

[2018-12-06 22:03] pavanramkumar commented on #163
@geektoni thanks for taking a stab at it! what @jasmainak suggests is probably the right approach: deriving the log likelihood and writing the gradient tests would be a start.

the paper linked above is a starting point but i'll add any other references that may be appropriate.

to clarify: i hope you're looking at neg-binomial with a fixed shape parameter -- this is a special case of a GLM, and c

[2019-01-03 22:20] geektoni commented on #163
@pavanramkumar Yes, I am just interested in fixed shape negative binomial (the more complex case could happen later on). Regarding the implementation, I have a few questions:
- Should I use the classical log-link function or are there "better" ones (maybe because of numerical stability problems etc.)?
- Do I need to include just the L2-regularization inside the loss function or can I plug in direc

[2019-01-04 17:57] jasmainak commented on #163
@geektoni I will answer point 2 -- maybe @pavanramkumar can shed some light on point 1.

You need to add your log-likelihood (without the regularization term -- i.e., no L2) [here](https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L114). The loss will be computed from this. Then you have to update [this](https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L2

[2019-01-04 18:01] geektoni commented on #163
Ok, that makes sense. I'll try to push something in the next days so you can have a look at it.

[2019-02-18 21:44] lorentzenchr opened #275 "failing comparison of elastic net with scikit-learn"
I tried to compare pyglmnet.GLM with ElasticNet from scikit-learn and could not get it work. Code to reproduce:

[code]

Result:
in-sample rmse sklearn = 12.756054997216442, pyglmnet = 161.03496460055504

[2019-02-19 02:30] jasmainak commented on #275
Thanks for the bug report, and for finding the right tab ;)

I modified your code so that it didn't fail on an import. I confirm we have a problem. It seems the issue is with the stopping criteria. @pavanramkumar do you have time to look since you implemented this last? Let me try to help you:

[code]

If you set `max_iter=7` you get pretty much what `sklearn` gives.

[2019-02-21 11:04] geektoni opened #276 "Wrong install instruction on the website."
The website of the project still contains wrong instructions to install the project "manually" directly from the `setup.py` file (see http://glm-tools.github.io/pyglmnet/install.html). I saw that it was already fixed in a previous PR (https://github.com/glm-tools/pyglmnet/pull/255/files), but it seems that the changes did not make it to the live version (I am reporting this because it happened to

[2019-02-21 14:42] jasmainak commented on #276
@geektoni indeed. I was under the impression that we host the `0.1` documentation but it seems it shows the API of the dev version. So, we should just update it then.

(We don't host two versions because it's more work to build the documentation then ...)

[2019-02-21 14:49] jasmainak commented on #276
Okay, it seems we have one example that breaks and one example that's stuck :\ We can't update the website before fixing these ...

[2019-03-01 18:03] jasmainak commented on #275
@pavanramkumar did you get a chance to get back to this?

[2019-03-04 23:11] peterfoley605 commented on #275
Within `GLM.fit()` it looks like the `z` cache gets out-of-sync with `beta`, which violates assumptions `self._cdfast()` makes about `z`.

Recalculating `z = beta[0] + np.dot(X, beta[1:])` immediately before [the call to `self._cdfast()`](https://github.com/glm-tools/pyglmnet/blob/09fdad1db0daed804a864ba6bdf36e3d20016e79/pyglmnet/pyglmnet.py#L734) seems to prevent divergence. I suspect that it's b

[2019-03-05 04:20] jasmainak commented on #275
hmm ... but that's weird that it's not caught by any of the tests. We already have tests which check that the loss goes down. Could you make a PR with an updated test? Thanks.

[2019-03-05 21:24] peterfoley605 commented on #275
I'm wrapping up a branch/PR  with an updated test that makes the loss-checking kick in by using nonzero `reg_lambda`, and I've confirmed that skipping the caching of `z` resolves the divergence. I'll push everything up shortly.

[2019-03-07 17:53] peterfoley605 opened #279 "implement sample weights to allow use on weighted data"
Proof-of concept is in https://github.com/peterfoley605/pyglmnet/tree/implement_sample_weight

[2019-03-07 18:16] jasmainak commented on #279
Feel free to open a WIP pull request so that it's not too much to review in one go

[2019-03-07 18:24] peterfoley605 commented on #279
tricky thing there is that the branch is built as a "version of pyglmnet that does things the way I need them done" which includes additional logging along with the sample weights, so it probably wouldn't be possible to merge directly. It does have tests and updated documentation and everything, though.

[2019-03-07 18:37] jasmainak commented on #279
okay I see, whenever you are ready.

It's usually a good idea to open PR earlier than later so that it's possible to discuss and change things while there isn't too much code.

[2019-03-24 07:01] tommyod commented on #272
@jasmainak There's a link to gitter, so this can be closed.

[2019-03-24 16:15] jasmainak commented on #272
indeed!

[2019-03-24 16:15] #272 closed

[2019-03-31 18:21] tommyod opened #285 "Drop Python 2 support"
Python 2 is [retiring soon](https://pythonclock.org/), and many projects are [dropping support for Python 2.7](https://python3statement.org/).

Is is time to drop support of Python 2 and upgrade the package requirements?

[2019-03-31 18:24] jasmainak commented on #285
Yes agreed!

On Sun 31 Mar 2019 at 14:21, Tommy <notifications@github.com> wrote:

--
Sent from my iPhone

[2019-04-04 03:24] #285 closed

[2019-04-23 23:08] cxrodgers commented on #134
I wrote something that achieves a similar purpose in my own fork. I just created a PR for comments/review. It may not be exactly what you had in mind.
https://github.com/glm-tools/pyglmnet/pull/287

[2019-04-23 23:16] cxrodgers opened #288 "cdfast convergence based on ratio norm(delta_beta) / norm(beta)"
One thing I've noticed is that models with large `beta` take a lot longer to reach convergence than those with a small `beta`. I wonder if it has to do with this line:
https://github.com/glm-tools/pyglmnet/blob/7f1fbb7feae4cd6f18d3d830a90e4b28f9fbfdaf/pyglmnet/pyglmnet.py#L767

Convergence is assessed by:
 `np.linalg.norm(beta - beta_old) < tol`.

Why not:
`np.linalg.norm(beta - beta_old) / np.lin

[2019-04-23 23:21] jasmainak commented on #288
hmm ... what you say makes sense to me. @pavanramkumar any comments?

you might also want to check out: https://github.com/glm-tools/pyglmnet/pull/278. It's not merged yet because the fix didn't appear clean. But perhaps you have an opinion there

[2019-04-24 15:22] cxrodgers opened #289 "loss grows to infinity with cdfast"
I have a dataset for which the loss grows without bound using the cdfast solver, but converges normally with batch gradient. Below I've attached the datafiles to reproduce the error in case someone can figure out the problem. Otherwise, I would really appreciate any suggestions on how I can go about debugging this. Thanks!

Here's the problem happening:
[code]

Here's how it works with batch-gradi

[2019-04-24 22:17] jasmainak commented on #289
Did you check if #278 fixes it for you?

[2019-05-01 21:55] cxrodgers commented on #289
Sorry for the delay. No, the problem is the same with #278.

I dug around a little bit more. The problem surfaces in the `_cdfast` method. The variable `z` is growing larger and larger. Eventually the Hessian `hk` becomes zero and `update` becomes infinite. After this point the weights become infinite or nan.
https://github.com/glm-tools/pyglmnet/blob/7f1fbb7feae4cd6f18d3d830a90e4b28f9fbfdaf/pyglm

[2019-05-05 22:59] jasmainak commented on #289
After 2 hours of debugging, I think I found the problem. This is [the script](https://gist.github.com/jasmainak/3e2c7656cf6f05723a18922a598b1fc2) I was using to debug. I re-read the nice [tutorial](http://glm-tools.github.io/pyglmnet/tutorial.html) that @pavanramkumar wrote. From the reading, it seems to me that the caching inevitably requires careful handling of the first coordinate. Following th

[2019-05-06 15:05] cxrodgers commented on #289
Thanks so much for digging into this, that's awesome!! I will take a look and think about this some more. With the resources you provided I might be able to figure this out.

[2019-05-07 00:02] jasmainak commented on #289
okay great. Do not hesitate to make pull requests so that others in the community may benefit from your fixes instead of having to relearn the same lessons!

[2019-05-07 19:05] dduemig opened #291 "ValueError: group should be (n_features,)"
![image](https://user-images.githubusercontent.com/41909992/57326018-c0848500-710b-11e9-806f-975404b6632c.png)

I dont get this error

[2019-05-08 18:23] jasmainak commented on #291
It doesn't happen for me. Can you provide a full script to reproduce instead of a screenshot. Here is what I tried:

[code]

[2019-05-08 19:15] dduemig commented on #291
I found it

![image](https://user-images.githubusercontent.com/41909992/57401542-2a696100-71d6-11e9-9234-c0adc7e5a587.png)

now it works.

It is due to the datatype (np.float32 vs np.float64)

Could you fix that?

Thanks

Best,
David

[2019-05-08 19:23] jasmainak commented on #291
can you modify my script to show me how can I make it fail? It works for me whether I use np.float32 ro np.float64.

Yes, GridsearchCV used to work but I am not quite sure if it works on the latest version of sklearn.

[2019-05-08 19:34] dduemig commented on #291
[code]

But with the sklearn GirdsearchCV as well ? so not GLMCV ?

Can I use the package as grouplasso for penalizing betas of a cubic spline representation

[2019-05-08 19:49] dduemig commented on #291
Is there already an open issue for the following

![image](https://user-images.githubusercontent.com/41909992/57403870-efb5f780-71da-11e9-86c7-9043704bc08a.png)

Or am I doing something wrong ?

If I install pyglmnet I get version 1.0.0
![image](https://user-images.githubusercontent.com/41909992/57403958-22f88680-71db-11e9-87ae-450fd3f63123.png)

[2019-05-08 20:01] dduemig commented on #291
![image](https://user-images.githubusercontent.com/41909992/57404634-bc746800-71dc-11e9-8c0d-e985c8bfadfb.png)
![image](https://user-images.githubusercontent.com/41909992/57404647-c8602a00-71dc-11e9-886c-e8546cb530ee.png)

Does not seem to work ;(

[2019-05-08 20:11] jasmainak commented on #291
You need to use the development version for this. Unfortunately we have a release due for a long time. Can you try using the development version in the meanwhile?

[2019-05-08 20:14] jasmainak commented on #291
you can use both depending on your application.

sorry I don't know exactly what you are trying to do. But yes, we do support group lasso.

[2019-05-08 20:30] dduemig commented on #291
Thank you for your answer.

I will try this tmr and let you know whether it works.

However, from the source code it seems that tscv (https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) is not supported.

This would be super helpful for time series prediction tasks where k-fold etc. fail.

[2019-05-08 23:14] cxrodgers opened #292 "ImportError with urllib, python2"
pyglmnet currently cannot be imported under python 2 due to a syntax change in urllib. A simple change can resurrect python 2 functionality without affecting anything on python 3. I realize that we don't want to support python 2. Is it acceptable to include this fix?

All that has to happen is this change in datasets.py:
[code]

I realize this is a charged issue, I don't want to create controversy

[2019-05-08 23:31] jasmainak commented on #292
I would suggest upgrading to Python 3 :-) Properly supporting Python 2 is going to be problematic and most libraries have moved away from it.

[2019-05-09 01:24] jasmainak commented on #291
It would be nice for GLMCV to accept a cv object from sklearn but nothing stops you from using your own cv and using cross_val_score etc.

[2019-05-09 07:56] dduemig commented on #291
Hey,

Is there a reason why it becomes so slow when I use the Github version?

![image](https://user-images.githubusercontent.com/41909992/57436072-3dfce200-723f-11e9-994f-3d81e65c39b9.png)

GridsearchCV seems to work
![image](https://user-images.githubusercontent.com/41909992/57436770-b1ebba00-7240-11e9-95a0-7d6b4cbe7254.png)

But it is super slow ;(

Any suggestions ? For my purpose its infeasib

[2019-05-09 12:35] jasmainak commented on #291
Just to be sure it's not a problem with the convergence criteria, can you set the max_iter lower and check the timings?

[2019-05-09 18:09] cxrodgers commented on #292
Yes, I would never suggest "properly supporting Python 2" for that reason. Just thought I would mention this simple change. I also understand that you might not want to set a precedent of accepting such changes. Worst case, this issue can be closed and just stay here as a helpful tip for any other Luddites out there who are, for whatever reason, trying to get it working on Python 2.

[2019-05-12 04:57] jasmainak commented on #292
see this: https://github.com/glm-tools/pyglmnet/pull/286

I'm closing the issue for now.

[2019-05-12 04:57] #292 closed

[2019-05-17 18:39] peterfoley605 opened #294 "datasets.py uses scipy.misc.comb, which was removed from current scipy release"
Scipy 1.3.0 was released today and removes scipy.misc.comb that is imported by datasets.py. See https://scipy.github.io/devdocs/release.1.3.0.html#scipy-interpolate-changes

When scipy 1.3.0 is installed, `import pyglmnet` throws `ImportError: cannot import name 'comb'`

[2019-05-17 19:26] #294 closed

[2019-05-19 06:27] ChrisRBXiong opened #296 "The trained weight is not sparse at all"
I am using the module to train the group lasso model.
`glm = GLM(distr = 'binomial', group=group_idxes, learning_rate = 10**-2.771705845919422, verbose = True, max_iter=3,  reg_lambda = 10**1.2213650257009823, solver = 'cdfast', tol = 1e-3, alpha = 1.0, random_state = 2019)

glm.fit(train_X, train_y)`

The accuracy of the trained model is quite well, but the trained weight is not sparse at all.  E

[2019-05-19 15:09] jasmainak commented on #296
looks correct to me. Can you provide a code snippet that I can run and try on my computer to see what's the issue?

[2019-05-19 18:41] jasmainak commented on #296
and can you try using the development version. It might already be fixed because of https://github.com/glm-tools/pyglmnet/pull/249/

[2019-05-20 02:47] ChrisRBXiong commented on #296
Thanks a lot! The development version is worked. The problem is solved.

[2019-05-20 02:47] #296 closed

[2019-05-21 21:39] jasmainak opened #297 "preparation for JOSS paper"
Hi everyone,

@pavanramkumar and myself have in the past discussed about writing a JOSS paper for pyglmnet.

JOSS articles generally provide a very high level description of the software and its relevance:

It would allow us to properly point to pyglmnet in citations and get some scholarly recognition for our work.

For this to reach fruition, we need to (checklist will be updated):
- [x] Fix the

[2019-05-22 02:27] koerding commented on #297
Love the idea

On Tue, May 21, 2019, 5:39 PM Mainak Jas <notifications@github.com> wrote:

[2019-05-22 04:13] tommyod commented on #297
Great initiative, thanks for cc'ing me. :+1:  I can spare a few hours here and there over the next months, so if you want some help reviewing the software/docs/paper feel free to CC me on a PR/Issue. It's nice to work towards something concrete.

[2019-05-22 07:51] geektoni commented on #297
Great idea! I will be glad to participate. Thanks for notifying me :+1:

[2019-05-23 01:16] notuntoward opened #298 "simulate_glm not imported"
The example code in the main README fails on the 3rd line:

[code]

This is after installing pyglmnet with pip.

[2019-05-23 02:25] notuntoward commented on #298
This is a doc bug.  It looks like the the README is leftover from a version in which simulate() wasn't a method of the GLM object.  I changed the example code to call the simulate() member and it seems to work.

Is other documentation up to date enough that I could try glmnet on some experiments?

[2019-05-23 03:53] jasmainak commented on #298
Actually this is a mismatch between the documentation of the stable version and the latest release. Sorry for this issue. We are going to make a release soon so the README should be accurate for the next release. Note that simulate_glm is the new way of doing things rather than a method.

[2019-05-23 16:58] notuntoward commented on #298
Thanks for the quick reply.  Should I wait for your new release or is what's on pip already usable?

[2019-05-23 19:30] jasmainak commented on #298
I think you can already use the development version. It has some bug fixes too.

Just do:

[code]

[2019-05-24 00:26] notuntoward commented on #298
I used the new pip command to install pyglmnet-1.0.1.dev0 but the script in the README still fails:

[code]

This because the README script created a 1D numpy ndarray like so:

`y_train = simulate_glm("poisson", beta0, beta, X_train)`

but glm.fit() tests for a one dimensional y like this:

`if X.ndim != 2 or y.ndim != 1:`

The check doesn't work because
[code]
To me, a (1000,1) array should consi

[2019-05-26 05:02] jasmainak commented on #298
sorry for the slow response.

I would not use `squeeze` because it's dangerous. You would not be able to distinguish between shape of (1, 1000) and (1000, 1). However, I'm okay with a more careful check like the [one in scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/19192c0427923c026644720de0296477cd0df75c/sklearn/utils/validation.py#L734). Would you like to take a stab at this? P

[2019-05-26 05:37] tommyod commented on #298
I'll take a look at it.

[2019-05-26 07:12] tommyod commented on #298
- We could just assume 1D vector means `(n, )` and never `(n, 1)`. But sklearn typically wants `(n, 1)` and not `(n, )` - do we really want to go against their API here?
- Why the long release cycle in general? Most people (quite naturally) assume that an example in the README is up to date with respect to pip. I would recommend a shorter release cycle to avoid issues like these.
- It's problemati

[2019-05-27 19:26] jasmainak commented on #298
nopes, let's try to be sklearn-like as much as possible. It will help with adoption.

yes, I guess we could do this. But there isn't a strong coupling between the two projects at the moment to warrant this. Plus sklearn's list of dependencies are growing by the day. To be clear, I am not against this, just not sure if there is enough evidence that we need this at the moment.

No reason and we shou

[2019-05-28 22:29] notuntoward opened #300 "repository path is wrong on developer page"
Here:

http://glm-tools.github.io/pyglmnet/developers.html

the cloning command is given as

git clone https://github.com/user/pyglmnet

but it should be

git clone https://github.com/glm-tools/pyglmnet.git

[2019-05-29 00:41] notuntoward opened #301 "Need to install coverage"
On the developers page:

http://glm-tools.github.io/pyglmnet/developers.html

It might be worthwhile to mention that the coverage package is needed in order to run:

nosetests . --with-coverage

[2019-05-29 00:43] jasmainak commented on #301
sure this would be a welcome change!

[2019-05-29 00:44] jasmainak commented on #300
well it doesn't matter if you clone from your fork or from upstream. I'm fine either way. What's important is that the remotes are set up correctly.

[2019-05-29 02:05] notuntoward commented on #301
Even with `coverage `installed, nosetests don't run correctly.  Everything passes if I run:

`pytest .\tests\test_pyglmnet.py`

But if I try

`nosetests . --with-coverage`

every function inside of test_pyglmnet.py which is decorated with:

`@pytest.mark.parametrize("distr", ALLOWED_DISTRS)`

fails.

It seems like the test functions have not actually been ported to nose.

[2019-05-29 02:29] notuntoward commented on #301
Ah, I see.  The website documentation is out of sync with the code.  Would it be possible to update the website?

[2019-05-29 19:05] notuntoward opened #302 "OS-independent temp file and other fixes. Permission to make a pull request?"
While getting the master branch to run on my system, I made several changes to the code on a new branch.  Can I have permission to make a pull request?

[2019-05-29 23:46] jasmainak commented on #302
sure, feel to make a pull request. They are always welcome when they improve the code :)

[2019-05-30 01:06] notuntoward commented on #302
Do you have to give me permissions of some kind?  When I run this command:

`git push origin dataset_and_ex_fixes:dataset_and_ex_fixes`

I get this error messsage:

[code]
where `dataset_and_ex_fixes` is the name of my branch and where `https://github.com/glm-tools/` is a URL I can visit with my browser.

[2019-05-30 23:00] jasmainak commented on #302
You cannot push to glm-tools. You should make a fork, push to your fork and make a pull request from that.

[2019-05-30 23:05] jasmainak commented on #301
Yes, we need to make a release soon and that will bring it in sync. It's on my todo ...

[2019-06-03 18:54] notuntoward commented on #302
Thanks, I'd confused what was fork and what was branch.  You should see a pull request from me now.

[2019-06-04 04:03] jasmainak commented on #302
closed by #303

[2019-06-04 04:03] #302 closed

[2019-06-04 04:03] jasmainak commented on #300
closed by #303

[2019-06-04 04:03] #300 closed

[2019-06-10 15:22] jpainam opened #304 "how to compute psquared in GLM estimator"
Hi, I'm comparing many estimator and i want to get the psquared for GLM estimator using Negative Binomiale, Gaussian and Poisson. I'm able to get the psquared for the other models, but not for GLM.
Please, kindly help.

[2019-06-10 23:35] jasmainak commented on #304
hi sorry I don't follow your question. Can you try to explain a bit more your question and maybe illustrate with code? Thanks.

[2019-06-11 05:50] jpainam commented on #304
Thank you, i mean. How to compute pseudo R^2 for GLM estimators? how can I get the value of pseudo R^2 after running GLM estimator on my dataset

[2019-06-11 11:06] RikUM commented on #202
fetch_group_lasso_datasets() doesn't work anymore. I think it has to do with the website; http://genes.mit.edu/burgelab/maxent/ssdata/MEMset/train0_5_hs

[2019-06-11 17:14] jpainam commented on #304
@jasmainak  Hi, here is a sample code. How do I get the pseudo R^2

[code]

[2019-06-11 21:57] jasmainak commented on #202
Please use the development version. A release is long overdue. I *just* need to find the time ...

[2019-06-11 22:07] jasmainak commented on #304
you need to instantiate your GLM object with the scoring metric.

[code]

[2019-06-12 14:13] jpainam commented on #304
Thank you, this is the result when i used `score_metric='pseudo_R2'`
[code]
I was expecting a single value. Which one is the pseudo R2 value?

[2019-06-12 14:31] jpainam opened #305 "TypeError: ufunc 'add' output (typecode 'O') could not be coerced to provided outp ut parameter (typecode 'd') according to the casting rule ''same_kind''"
Hi,
I'm runing a code and got this error. Any help will be appreciated.
Here is my code
[code]
and the error
[code]

[2019-06-12 14:33] jpainam commented on #304
I also get this error when i used my own set of data. Since this issue is resolved, i will close it and open a new issue with the problem i experienced with my own data
Thank you again

[code]

[2019-06-12 14:33] #304 closed

[2019-06-13 23:22] jasmainak commented on #305
unfortunately I cannot help unless you share the data somehow.

alternatively try to reproduce the behavior with random or simulated data so you mimic the issue that your dataset has

[2019-06-13 23:23] jasmainak commented on #304
are you running this on the regularization path? that's why you probably have 10 scores.

[2019-06-23 10:06] shainaraza opened #306 "Temporal functions"
I am curious about the temporal basis functions in yours code https://glm-tools.github.io/pyglmnet/auto_examples/plot_tikhonov.html

is it some source of timing context or is it during time-split cross validation.

[2019-06-23 10:27] shainaraza opened #307 "can i use pyglment for recommender system"
is it possible to use pyglment for building a recommender system

[2019-06-23 12:38] DreHar opened #308 "Can I remove the intercept?"
Hi All,

I'm sorry if I am just being dull, but is it possible to remove the intercept in GLM/GLMCV? I believe it is supported in the R version of glmnet (https://cran.r-project.org/web/packages/glmnet/ChangeLog version 1.9-3).

Could I comment out the intercept/beta0 calculations in pyglment.py and just set beta0 to 0?

Thanks!

[2019-06-24 01:52] jasmainak commented on #307
you are welcome to try :) Closing because it's not a bug or usage-related question.

[2019-06-24 01:52] #307 closed

[2019-06-24 02:06] jasmainak commented on #306
I would say for timing context. @pavanramkumar can you confirm?

[2019-06-24 02:10] jasmainak commented on #308
It's not supported at the moment but it would be a welcome addition. You'd need a `fit_intercept` parameter which is a boolean

[2019-06-24 14:15] shainaraza commented on #306
yes please confirm

[2019-06-25 14:44] pavanramkumar commented on #306
@shainaraza thanks for your question.

temporal basis functions are a frequently used technique in certain applications of GLMs to time series
data to model the lagged effects of regressors on the target variable.

[2019-06-29 06:22] #306 closed

[2019-07-10 05:38] Hancminnah opened #309 "different beta1 for grouped variables in group lasso"
Hi,

In the case of group lasso, why are the beta1s not equal for grouped variables? I understand that in gglasso for R, their beta1s are the same for grouped variables.

[2019-07-10 05:52] #309 closed

[2019-07-29 04:14] DreHar commented on #308
I have made an attempt to add in fit_intercept as a parameter and made a [WIP] PR - #310

Please let me know if there are any changes or adjustments. There are a few style points I wasn't sure about. I am not sure if it would be better to

- pass fit_intercept everywhere as a parameter
- change all methods to expect beta0 and beta and pass beta0 as 0 for the no intercept case everywhere
- in gradL

[2019-07-29 04:24] DreHar commented on #308
Sorry, I just realised I made a mistake and I do have some unit test failures. I will fix these up; any style or directional change still much appreciated

[2019-07-30 05:58] jasmainak commented on #308
That seems looks fair and yeah, I would try to mimic sklearn as much as possible.

[2019-08-05 02:02] inferentialist opened #311 "convergence confusion"
Hey there.  I'm really excited about this package, but I've been seeing some unexpected convergence behavior and was hoping this might be a good place to ask for clarity.  I'm happy to write this up in more detail, or dig into the code myself if necessary; let me know what would be most helpful.

Here's the short version of my scenario.  I'm running a logistic group lasso with the divergence loss.

[2019-08-05 12:09] jasmainak commented on #311
Can I ask if you are using the development version? And which solver are you using?

It's a known issue for the cdfast solver. See: https://github.com/glm-tools/pyglmnet/issues/275 and https://github.com/glm-tools/pyglmnet/issues/289

[2019-08-05 21:13] inferentialist commented on #311
This reproduces the issue.  I'm using mostly defaults; in particular, the "batch-gradient" solver.  I assume I'm using the development version as well:  git log dates this as a Jun 3 2019 commit.

[code]

[2019-08-11 21:42] jasmainak commented on #311
hi @inferentialist sorry for the delay in getting back to you. I finally had a moment to look at this but I can't reproduce your problem. See my code here:

[code]

It seems that convergence is just fine even for `lambda > 1`. I tried both with latest master and the commit you are on. For `tol=0.5` I would expect it not to converge, so nothing unexpected there. It seems a bit slow for `tol=0.1` bu

[2019-08-12 18:25] inferentialist commented on #311
@jasmainak, thanks for taking a look.  I was hoping you'd have a quick fix; sorry to have handed you a difficult to reproduce result.  For what it's worth, I love the idea of what you're doing here with pyglmnet, and I'd like to get involved.  In terms of references, I'd probably be inclined to start with the Lukas Meier JRSSB 2008 paper, if only because I seem to recall that the R version of glmn

[2019-08-13 12:05] jasmainak commented on #311
If the R version of glmnet is based on it, I think it sounds like a great idea. What solver does it use?

By the way if you are working with group lasso, it would be great if you can also suggest an example dataset. Our current example takes ages to finish ... not sure how much a better solver would help.

[2019-08-16 17:45] #275 closed

[2019-08-26 16:35] inferentialist commented on #311
Hi Jas,

Sorry to have sat on this for the last two weeks.  I've been caught up in
other projects.

So to get back to your question about solvers, my understanding is that the
Meier 2008 paper puts forward an argument for block coordinate solvers
because, for this class of problem, the penalty term is separable, and so
the sub-problem is relatively simple.  I think, at the time of the
publication,

[2019-10-15 18:18] pavanramkumar commented on #202
closing since subsumed by more recent issues #267

[2019-10-15 18:18] #202 closed

[2019-10-15 18:22] pavanramkumar commented on #134
closing see #316

[2019-10-15 18:22] #134 closed

[2019-10-15 18:47] pavanramkumar commented on #239
closed by #263

[2019-10-15 18:47] #239 closed

[2019-10-15 18:57] pavanramkumar commented on #291
seems like the slowness is arising from the same root cause (group lasso). duplicated by #267

[2019-10-15 18:57] #291 closed

[2019-10-17 04:53] pavanramkumar opened #318 "simulate_glm returns 2D array but fit expects 1D array"

[2019-10-17 05:02] pavanramkumar opened #319 "revisit convergence criteria"
current convergence criterion based on `norm(grad)` is not robust to dataset size. we need to make it a function of:
- rate of change in loss,
- `norm(grad)/norm(beta)` and
- `n_features`

See e.g.:
- https://docs.scipy.org/doc/scipy/reference/optimize.minimize-lbfgsb.html
- https://cran.r-project.org/web/packages/mize/vignettes/convergence.html

[2019-10-20 00:29] pavanramkumar opened #320 "Make bleeding edge version installation easier for non developers"
According to @jasmainak 's suggestion; provide something like this and modify `doc/install.rst`:
[code]

[2019-10-20 00:47] #234 closed

[2019-10-20 04:34] #318 closed

[2019-10-20 04:34] #320 closed

[2019-10-20 05:30] jasmainak commented on #308
closed by #310

[2019-10-20 05:30] #308 closed

[2019-10-20 05:40] jasmainak commented on #210
I'm closing this issue as it has not happened in 2 years ...

[2019-10-20 05:40] #210 closed

[2019-10-20 06:09] jasmainak commented on #266
close @pavanramkumar ?

[2019-10-20 06:59] #298 closed

[2019-10-20 15:40] jasmainak opened #328 "add pydocstyle"
In most of the other projects I contribute to, we use `pydocstyle` to check conformity to PEP257. Once #259 is in, we can enable it by simply switching the line `$ make flake` to `$ make pep`. It's just a lot of errors, so it can be done when we are bored :)

[2019-10-20 18:18] #259 closed

[2019-10-28 02:54] jasmainak opened #337 "add check for readme to travis"
The line to use is:

[code]

[2019-10-28 02:54] jasmainak commented on #267
This is closed in #202

[2019-10-28 02:54] #267 closed

[2019-10-28 03:20] pavanramkumar opened #338 "add ssh based auth for doc Makefile"
replace:
[code]

with:
[code]

[2019-10-28 03:33] pavanramkumar opened #339 "Remove references to Python2 in setup.py"

[2019-10-28 04:34] jasmainak commented on #276
closing this now as the release should have fixed it

[2019-10-28 04:34] #276 closed

[2019-10-28 04:34] jasmainak commented on #301
closing this now as we have made a release now

[2019-10-28 04:34] #301 closed

[2019-10-28 04:35] jasmainak commented on #319
I think this is finished in #327

[2019-10-28 04:35] #319 closed

[2019-10-28 04:37] jasmainak commented on #288
we have now changed the convergence criteria and it pretty much aligns with what you proposed @cxrodgers . Closing this for now. Feel free to reopen if you think the problem persists.

[2019-10-28 04:37] #288 closed

[2019-10-28 17:35] jasmainak commented on #339
closed by #341

[2019-10-28 17:35] #339 closed

[2019-10-28 17:36] jasmainak commented on #266
I think this can be closed. @pavanramkumar feel free to reopen if this is still an issue.

[2019-10-28 17:36] #266 closed

[2019-11-01 02:30] #337 closed

[2019-11-02 02:38] jasmainak commented on #338
closed by #343

[2019-11-02 02:38] #338 closed

[2019-11-03 00:05] pavanramkumar commented on #289
@jasmainak @cxrodgers please see PR #348

[2019-11-03 00:20] pavanramkumar commented on #311
Hey @inferentialist thanks for your thoughtful suggestions regarding alternate solvers. We've made some improvements to our convergence criteria recently and have made a new release on PyPI along with various improvements. You can pip install the latest version. Let us know if these improvements can solve your convergence problems.

As far as contributions go for future releases, we'd love to make

[2019-11-03 18:49] pavanramkumar opened #349 "test_group_lasso issues"
A couple of issues:
- The assertion introduced in this [commit](https://github.com/glm-tools/pyglmnet/commit/0d3c3aed25bb320783e25bdfc88ee2c67b541fc9#diff-19c4b2f295f0c831b8250caa4bbfbba5) which tests that at least one group must be all zeros seems not guaranteed to pass. In practice I've seen this fail very rarely in unrelated scenarios. It may be likely to fail in large `n`, small `p` regimes. C

[2019-11-04 01:09] pavanramkumar opened #350 "Pass distribution objects into `GLM` and `GLMCV` class"
Motivation: as we expand the scope of models supported, it may be easier for contributors to add new distributions if we refactor the class to accept distribution-specific params and corresponding likelihood / loss / gradients / hessians as callables.

One strategy inspired by `statsmodels` proposed by @jasmainak in #274 is as follows:

[code]

[code]

There are also alternatives such as the `scik

[2019-11-04 01:22] jasmainak commented on #350
I wouldn't change the class signature too much any more. We made one big backwards incompatible change with this release (GLM and GLMCV). Now we should try to keep the API a little stable. Not sure I understand the second approach fully. In the first approach, you would not change anything in the GLM object except allow also objects that subclass from `BaseDistribution`. Users don't have to create

[2019-11-04 02:47] #289 closed

[2019-11-04 05:05] DreHar commented on #297
Fantastic; let me know if you need help with reviewing/editing

[2019-11-11 20:22] jasmainak commented on #297
@DreHar would you mind looking at this PR: #313 ? Thanks a lot!

[2019-11-23 19:21] #297 closed

[2020-01-14 17:58] ivarzap opened #356 "tikhonov_from_prior treats incorrectly zero_indices"
https://github.com/glm-tools/pyglmnet/blob/b403bac72f5a227a9c34e38bfef1ff0c937b7720/pyglmnet/utils.py#L85

Should be:
`S_inv = 1. / S_inv`

Otherwise, small singular values would be close to not being regularized

[2020-01-17 11:02] jasmainak commented on #356
this is standard way to invert a matrix, it's the moore-penrose pseudoinverse. Why do you see a problem with this?

[2020-01-17 15:25] ivarzap commented on #356
What is the reason to use Moore-Penrose pseudo-inverse to regularize?

In that case, say you have a singular value a bit over threshold (say 0.0002 with current defaults). Then, the projected space will regularize heavily this value (as expected). Others singular values that do not survive the cutoff (<=threshold) will not be regularized at all (except for a tiny quantity =threshold).
I see that t

[2020-01-17 16:31] jasmainak commented on #356
do you observe this problem in your data? what's the standard way to deal with this? If you just invert a 0 in a singular matrix, it will blow up.

[2020-01-17 17:34] ivarzap commented on #356
I am not using yet your code to regularize an elasticnet model, but I'm planning to implement it very soon.

My issue is of a theoretical character: I wonder what is the the case in which small singular value (SV) directions are close to not being regularized versus the larger SV directions.

In my current understanding, one introduces a ridge regularizer (Thikonov matrix proportional to identity)

[2020-01-22 17:37] jasmainak commented on #356
@pavanramkumar @evadyer do you have any comments here?

[2020-02-17 20:02] titipata opened #360 "Adding how to cite the repo"
I think it would be better if we can add how to cite the repository (e.g. BibTeX) in both `README.md`, `README.rst` and `contributing.rst`. We can also do that after the JOSS submission since it needs a new DOI for the repository for JOSS submission.

[2020-02-18 15:44] titipata opened #363 "Test `GLM` with scikit-learn `check_estimator` (setting attributes during init )"
According to https://github.com/openjournals/joss-reviews/issues/1959#issuecomment-587441895, we cannot use scikit-learn's `check_estimator` with `GLM` class. We might have set the initial values [here](https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L553-L556) and [here](https://github.com/glm-tools/pyglmnet/blob/master/pyglmnet/pyglmnet.py#L562) somewhere outside the init.

[2020-02-18 15:51] jasmainak commented on #363
I fear this will go down a rabbit hole, but maybe good for the long term. I'll give it a try later today and see how far I can go ...

[2020-02-18 15:54] titipata commented on #363
We can also fix in the writing (`paper.md`) first where we specify some functionality that can be used with scikit-learn but not all.

[2020-02-18 16:41] titipata commented on #363
@jasmainak I did try moving

[code]

into `fit(...)`. However, I'm getting a following error from `check_estimator` instead:

[code]

[2020-02-18 16:54] jasmainak commented on #363
I think this is because of #330 . The reasoning at that time as far as I can remember was that refitting is dangerous because some estimated parameters (ending with underscore) already exist and we don't flush them out before a second fit. I think scikit-learn handles it better by using clone etc. but it seemed like an easy fix at the time. Can you try to undo the changes in that PR and see how fa

[2020-02-18 17:03] titipata commented on #363
@jasmainak so last point is about scipy's `expit`. After I commented out `fit_predict`, I got the following error:

[code]

Not sure how to fix this properly.

[2020-02-18 21:51] titipata commented on #363
As @jasmainak suggested, using sklearn dependencies make `GLM` works with `check_estimator` (see #364). We can discard the above errors.

[2020-02-20 18:44] #363 closed

[2020-02-20 22:03] titipata commented on #360
@jasmainak, we can wrap this issue after you get a new Zenodo DOI's for the JOSS release.

[2020-02-20 22:33] jasmainak commented on #360
yeah I am waiting for @pavanramkumar to update the zenodo and then will wrap up this issue!

[2020-02-20 22:37] titipata commented on #360
Awesome, go @pavanramkumar!

[2020-02-20 22:39] pavanramkumar commented on #360
you guys are awesome! i will update zenodo in next 24 hrs

[2020-02-20 22:40] titipata commented on #360
🕤 🕥 🕦 🕧

[2020-02-21 19:46] titipata opened #366 "Convert matlab tutorial from Pillow's lab to pyglmnet"
Anyone would like to convert tutorial from https://github.com/pillowlab/GLMspiketraintutorial to `Pyglmnet`? It seems like audiences are partly from the neuroscience field. I think this will be super beneficial for them.

[2020-02-21 19:48] jasmainak commented on #366
seems like there has already been a partial attempt: https://github.com/pillowlab/GLMspiketraintutorial/blob/master/python/tutorial1_PoissonGLM.ipynb.

It would be great to have more examples on public data that can demonstrate the use cases of pyglmnet.

[2020-02-21 19:54] titipata commented on #366
Wow, that's awesome. I can take a look at it over the weekend. I'll see if it can be properly added to the Pyglmnet's tutorial.

[2020-02-21 19:56] jasmainak commented on #366
that's great! might be a good idea to shoot the authors an email to ask permission to use the data. We can add the papers to cite in the example.

[2020-02-21 20:03] titipata commented on #366
Ah yeah, they mentioned "**Data:** note that the dataset used for this tutorial is (unfortunately) not yet publicly available. If you would like access to the dataset needed to run the tutorial scripts, please write to pillow at princeton dot edu." Let me email him cc you to see if it is somehow possible or get relevance dataset.

[2020-02-21 20:22] erik-jan-climate opened #367 "pyglmnet returns only nan as coefficients (beta_ and beta0_)"
Python 3.7.3 (default, Mar 27 2019, 22:11:17)

Erik  Phone +49one51twotwo887293

All code is run in ipython

I followed this:
https://glm-tools.github.io/pyglmnet/auto_examples/plot_group_lasso.html#sphx-glr-auto-examples-plot-group-lasso-py

bash:
./pip install pyglmnet

#in ipython
from pyglmnet import GLMCV

#Input data X and y are stored in  Pandas Dataframes which I then convert (see below):

[2020-02-21 20:30] jasmainak commented on #367
It's a bit hard to help based on this. Could you perhaps provide a full script that reproduces the problem and share a small part of your data along with it? thanks

[2020-02-21 20:39] erik-jan-climate commented on #367
To jasmainak:
Can I call you?    I have shared a small part of the data already.  It is stored in MB-to-GB-large binary (netcdfs).

[2020-02-21 20:51] erik-jan-climate commented on #367
Here is a more minimal version of what causes the nans:
X and y are pandas Dataframes,  X.shape= (9,2),    y.shape()=(9,1)
X=
  T850__mean  T_2M__mean
0  275.155975  277.692291
1  278.189697  284.367920
2  270.829437  276.190979
3  270.744324  277.318665
4  273.041565  277.693665
5  268.639587  274.262177
6  269.230347  274.948334
7  268.686707  276.265198
8  267.068115  275.395508

y=
   obs
0  0

[2020-02-21 20:55] erik-jan-climate commented on #367
In fact, I am rather sure that one can simply make up any 10 numbers and store them in X.   And any random numbers for y.  After fitting, the coefficients will be nans.

[2020-02-21 20:56] jasmainak commented on #367
As I said above, please provide a full reproducible script that I can copy-paste. Happy to take it from there :) Thanks!

[2020-02-21 21:09] erik-jan-climate commented on #367
Here you are:
__________________

 import numpy as np
 import pandas as pd
from pyglmnet import GLMCV
glm = GLMCV(distr="gamma", tol=1e-3,
            score_metric="pseudo_R2",
            alpha=1.0, learning_rate=3, max_iter=100, cv=3, verbose=True)

X = pd.DataFrame(np.random.randint(0,100,size=(6, 2)), columns=list('AB'))
y = pd.DataFrame(np.random.randint(0,10,size=(6, 1)), columns=list('y'))

[2020-02-21 21:27] erik-jan-climate commented on #367
To jasmainak:
Is this script now something you can work with?

[2020-02-21 21:36] jasmainak commented on #367
You have set the learning rate too high, set it to 1e-8 and it should work

[2020-02-22 09:30] erik-jan-climate commented on #367
I did the same with my real data (4 sample predictors) and got:
print(g.beta_)
[0. 0. 0. 0.]
print(g.beta0_)
0.06673483228915175

My ytrain  is always small and equal (90%) or larger(10%) zero:  eg. [  0. 0. 0. 0. 0.  0.  0.01, 0.1,  0.2,  ...]

The result  beta_  = [0. 0. 0. 0.] seems to be wrong.  I expect them to be very small but different from zero, for example [0.0000247, 0.004, 0.001, 0.006

[2020-02-22 11:08] erik-jan-climate commented on #367
import sys
from netCDF4 import Dataset,num2date #_http://unidata.github.io/netcdf4-python/
import numpy as np
import pickle
import netcdftime
import pandas as pd
import datetime # Python standard library datetime module
import random
import copy
from pyglmnet import GLMCV
from pyglmnet.datasets import fetch_group_lasso_datasets
from IPython.core.interactiveshell import InteractiveShell

pd.set_opt

[2020-02-22 16:11] jasmainak commented on #367
The shape of beta depends on the shape of your input data. There is no truncation per se, but if you have too many values in an array, it may not display them. This does not appear to be the case for you.

I edited your post above so it's formatted as a python script. However, I can't run it by copy-pasting. If you can do that, I can help you further :)

[2020-02-22 18:41] erik-jan-climate commented on #367
I can run it.
Up to which line can you run it by copy-pasting?
You need to download the zip and extract it to get the pickles.

[2020-02-22 23:33] jasmainak commented on #367
great, I can replicate now :) I edited your script to remove the netcdf part as it's not needed.

I need to ponder on this a bit. In the meanwhile, do you have an intuition as to why you'd expect the betas to be different from 0.?

[2020-02-23 01:07] erik-jan-climate commented on #367
Because all 0. means the y data can be best predicted by beta0_ alone, which is a simple constant.  But the y values vary between many different values.  So it cannot be a simple constant.  Also, when providing 10times the amount of X and y values,  all betas are still 0.   I ran the model 10times, and always used different dimensions (=number of records/samples) for X and y.  glmcv always returne

[2020-02-23 01:26] pavanramkumar commented on #360
new release created and DOI minted! zenodo page: https://zenodo.org/record/3679515#.XlHS1hdKhp8

@jasmainak if this satisfies the editor's criteria, you can update him on JOSS

[2020-02-23 01:28] pavanramkumar commented on #360
@titipata i agree, let's update `README.rst` and `contributing.rst` after JOSS paper is published

[2020-02-23 03:03] pavanramkumar commented on #367
@erik-jan-climate i had a brief look at your data and code. a few comments to help you model this the right way.

- 15/19 samples in `y` are zeros so i wouldn't be too surprised if a well tuned model tries to capture all the variance in the intercept term.
- the columns in `X` are of vastly different scales. i would recommend z-scaling the data. you can do this with `sklearn.preprocessing.Standard

[2020-02-23 03:04] pavanramkumar commented on #367
@jasmainak one learning for us from here is that i had to increase `max_iter` and decrease `tol` wrt the defaults in order to get equivalent results to sklearn's `LinearRegression`. perhaps we can revisit the defaults and incorporate those into a test.

[2020-02-23 03:50] pavanramkumar commented on #356
@ivarzap thanks for your question.

- what we are calling the Tikhonov matrix is the matrix square root of the inverse of the prior covariance matrix. notation from Wikipedia: https://en.wikipedia.org/wiki/Tikhonov_regularization

- we are using SVD to compute the inverse of the covariance matrix. if the covariance matrix is not full rank, there are going to be some singular values very close to z

[2020-02-23 05:25] titipata commented on #360
@pavanramkumar, you might have to update the order of the authors so that it's aligned with `paper.md`

[2020-02-23 05:57] jasmainak commented on #367
This is an important point. When I tried with alpha=0.0, I did not get betas which are all 0. @pavanramkumar I think we should document clearly what alpha is. I always have to look at the code to know if alpha=0.0 is L1 or L2 ...

[2020-02-23 12:40] erik-jan-climate commented on #367
First of all: Thank both of you

To: pavanramkumar
To your point 1) and 3):
 It was just an extremely minimal sample.  In fact, I like to run it on 150predictors and about 100MB+ of input data.

I will consider your point 2).

Just to be on the same page, I like to give you now more data because it seems relevant to not be minimal anymore:

Download this file first and extract it in your python wo

[2020-02-24 13:04] erik-jan-climate commented on #367
@pavanramkumar @jasmainak
All 3 points are now incorporated in the script:  More data, standardize, less zeros in y.  However, it still returns  nans oder  0.

sc = StandardScaler()
Xsc = sc.fit_transform(X.to_numpy())
ysc = y.to_numpy().flatten()

Any idea is appreciated.  If you think this can be tested/improved better with more input data, please let me know.

[2020-02-24 18:54] titipata commented on #360
@pavanramkumar just poke here if you have time to update the order of authors in Zenodo. After updating the orders, @jasmainak can poke JOSS editor.

[2020-02-24 18:59] jasmainak commented on #360
It's my bad actually, sorry I need to look at the PR with `.zenodo.json` ... it should have updated order.

[2020-02-24 19:34] titipata commented on #366
@jasmainak what's the best way to create the tutorial and output? Adding a new file to `examples`?

[2020-02-25 05:58] jasmainak commented on #367
@titipata do you have time to investigate what is going on?